In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import gc
import glob

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False


# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [2]:
# data_type = "train"
# month = "07"
# category = "잔액정보"

# local
root_path = '../../data'

# colab
# root_path = '/content/drive/MyDrive/12조 파이널프로젝트/data'

#drive_folder = f'{root_path}/스탯티즈_Raw_data/'

In [3]:
df1 = pd.read_excel(f'{root_path}/2025_롯데_투수.xlsx')

## 사사구 (볼넷 + 사구)

In [5]:
df1['사사구'] = df1['볼넷허용'] + df1['사구허용']

In [6]:
df1['사사구']

0     16
1     27
2     25
3     43
4     50
5     36
6     23
7     10
8     22
9     14
10     3
11     1
12    20
13    10
14     3
15    11
16     5
17     2
18     9
19     4
20    21
21    22
Name: 사사구, dtype: int64

In [7]:
df1.to_csv('../../data/2025_롯데_투수.csv', index=False, encoding='utf-8-sig')

In [8]:
df2 = pd.read_csv(f'{root_path}/2025_롯데_투수.csv')
df2

,구단명,선수명,세부포지션,투,플레이년도,나이,게임수,선발등판,구원등판,승리,...,선발이닝,구원이닝,선발 WAR,구원 WAR,종합 WAR,연봉,사사구,투구수,피장타율,WHIP
0,롯데,김진욱,RP,좌투,2025,23,13,6,7,1,...,21.2,5.1,-0.29,-0.43,-0.72,10000,16,533,0.678,2.11
1,롯데,감보아,SP,좌투,2025,28,11,11,0,7,...,67.1,0.0,3.10,0.00,3.10,35000,27,1093,0.265,1.13
2,롯데,김원중,CP,우투,2025,32,41,0,41,3,...,0.0,43.2,0.00,2.29,2.29,110000,25,782,0.293,1.26
3,롯데,나균안,SP,우투,2025,27,21,19,2,2,...,100.2,2.2,2.00,0.13,2.13,12000,43,1770,0.404,1.51
4,롯데,박세웅,SP,우투,2025,30,20,20,0,11,...,115.1,0.0,2.12,0.00,2.12,135000,50,1943,0.421,1.43
5,롯데,이민석,SP,우투,2025,22,13,13,0,2,...,66.2,0.0,1.64,0.00,1.64,4000,36,1168,0.404,1.62
6,롯데,정철원,RP,우투,2025,26,56,0,56,6,...,0.0,51.2,0.00,1.33,1.33,12000,23,831,0.369,1.32
7,롯데,홍민기,RP,좌투,2025,24,20,2,18,0,...,9.0,20.0,0.50,0.52,1.02,3100,10,463,0.272,1.07
8,롯데,정현수,RP,좌투,2025,24,59,0,59,2,...,0.0,36.2,0.00,0.87,0.87,4000,22,661,0.297,1.23
9,롯데,최준용,RP,우투,2025,24,32,0,32,3,...,0.0,34.0,0.00,0.46,0.46,11000,14,557,0.289,1.09
10,롯데,한현희,RP,우투,2025,32,3,2,1,0,...,8.1,0.1,0.05,0.01,0.06,100000,3,161,0.553,1.73
11,롯데,정우준,RP,우투,2025,25,2,0,2,0,...,0.0,1.1,0.00,0.06,0.06,3200,1,28,0.500,1.50
12,롯데,송재영,RP,좌투,2025,23,40,0,40,1,...,0.0,22.1,0.00,0.03,0.03,3200,20,403,0.383,1.70
13,롯데,윤성빈,RP,우투,2025,26,11,1,10,1,...,1.0,8.1,-0.50,0.38,-0.12,3100,10,173,0.182,1.50
14,롯데,박진형,RP,우투,2025,31,4,0,4,0,...,0.0,2.2,0.00,-0.13,-0.13,5600,3,65,0.786,3.38
15,롯데,박진,RP,우투,2025,26,29,2,27,1,...,6.1,33.0,0.03,-0.17,-0.15,6000,11,681,0.469,1.53
16,롯데,구승민,RP,우투,2025,35,9,0,9,0,...,0.0,6.0,0.00,-0.26,-0.26,30000,5,129,0.520,1.83
17,롯데,박세현,RP,우투,2025,19,3,0,3,0,...,0.0,3.2,0.00,-0.35,-0.35,3000,2,65,0.842,2.45
18,롯데,박시영,RP,우투,2025,36,10,0,10,1,...,0.0,6.1,0.00,-0.43,-0.43,5000,9,145,0.346,2.37
19,롯데,박준우,RP,우투,2025,20,7,0,7,1,...,0.0,5.2,0.00,-0.46,-0.46,3100,4,114,0.571,2.65
20,롯데,김상수,RP,우투,2025,37,44,0,44,0,...,0.0,35.2,0.00,-0.51,-0.51,24000,21,629,0.463,1.82
21,롯데,김강현,RP,우투,2025,30,49,0,49,2,...,0.0,53.0,0.00,1.17,1.17,4000,22,862,0.352,1.21