In [2]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df= pd.read_csv('야구데이터/스탯티즈_Raw_data/KBO FA 승인 선수 명단 (2013 ~ 2024)_투수.csv의 사본.csv',  encoding='cp949')

df2= pd.read_csv('야구데이터/스탯티즈_Raw_data/KBO FA 투수 [2013-2024]_최종.csv의 사본.csv',  encoding='utf-8')

df3= pd.read_csv('야구데이터/스탯티즈_Raw_data/KBO 투수 FA 명단 (2013~2024).csv의 사본.csv',  encoding='utf-8')

In [6]:
df.columns

Index(['FA년도', '구단명', '선수명', '세부 포지션', '인정년수', '구분', 'FA등급', '플레이년도', 'Age',
       'G', 'GS', 'GR', 'W', 'L', 'S', 'BLSV', 'HD', 'BLHD', 'IP', 'ER', 'H',
       '2B', '3B', 'HR', 'BB', 'HP', 'SO', 'WP', 'ERA', '선발 이닝', '구원 이닝',
       '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2'],
      dtype='object')

In [8]:
df2.columns

Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '인정년수', '구분', 'FA등급', '플레이년도',
       'Age', 'G', 'GS', 'GR', 'W', 'L', 'S', 'BLSV', 'HD', 'BLHD', 'IP', 'ER',
       'H', '2B', '3B', 'HR', 'BB', 'HP', 'SO', 'WP', 'ERA', 'FIP', '선발 이닝',
       '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액', 'TEAM RANK', 'TEAM G', 'TEAM GS', 'TEAM GR',
       'TEAM W', 'TEAM L', 'TEAM S', 'TEAM BLSV', 'TEAM HD', 'TEAM BLHD',
       'TEAM IP', 'TEAM ER', 'TEAM H', 'TEAM 2B', 'TEAM 3B', 'TEAM HR',
       'TEAM BB', 'TEAM HP', 'TEAM SO', 'TEAM WP', 'TEAM ERA', 'TEAM FIP',
       'TEAM 선발 이닝', 'TEAM 구원 이닝', 'TEAM 선발 WAR', 'TEAM 구원 WAR', 'TEAM 종합 WAR',
       'TEAM 연봉', 'Unnamed: 70'],
      dtype='object')

In [9]:
df3.columns

Index(['FA년도', '구단명', '선수명', '세부 포지션', '인정년수', '구분', 'FA등급', '플레이년도', 'Age',
       'G', 'GS', 'GR', 'W', 'L', 'S', 'BLSV', 'HD', 'BLHD', 'IP', 'ER', 'H',
       '2B', '3B', 'HR', 'BB', 'HP', 'SO', 'WP', 'ERA', 'FIP', '선발 이닝',
       '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2', '잔류 여부'],
      dtype='object')

In [10]:
df.isna().sum()

FA년도        0
구단명         0
선수명         0
세부 포지션      0
인정년수        0
구분          0
FA등급        0
플레이년도       0
Age         0
G           6
GS          6
GR          6
W           6
L           6
S           6
BLSV       39
HD          6
BLHD       39
IP         10
ER          6
H           6
2B         59
3B         59
HR          6
BB          6
HP          6
SO          6
WP          6
ERA         6
선발 이닝      59
구원 이닝      59
선발 WAR    144
구원 WAR     45
종합 WAR      6
연봉         13
비고1         0
비고2       278
dtype: int64

In [13]:
df2.isna().sum()

FA년도             0
구단명              0
선수명              0
세부 포지션           8
투                0
              ...
TEAM 선발 WAR     47
TEAM 구원 WAR     47
TEAM 종합 WAR     47
TEAM 연봉         47
Unnamed: 70    339
Length: 71, dtype: int64

In [12]:
df3.isna().sum()

FA년도        0
구단명         0
선수명         0
세부 포지션      8
인정년수       62
구분          3
FA등급       62
플레이년도       0
Age         9
G          15
GS         15
GR         15
W          15
L          15
S          15
BLSV       50
HD         15
BLHD       50
IP         19
ER         15
H          15
2B         68
3B         68
HR         15
BB         15
HP         15
SO         15
WP         15
ERA        15
FIP        18
선발 이닝      68
구원 이닝      68
선발 WAR    186
구원 WAR     63
종합 WAR     15
연봉         22
비고1        54
비고2       339
잔류 여부     272
dtype: int64

In [15]:
df2=df2.drop(['TEAM RANK', 'TEAM G', 'TEAM GS', 'TEAM GR',
       'TEAM W', 'TEAM L', 'TEAM S', 'TEAM BLSV', 'TEAM HD', 'TEAM BLHD',
       'TEAM IP', 'TEAM ER', 'TEAM H', 'TEAM 2B', 'TEAM 3B', 'TEAM HR',
       'TEAM BB', 'TEAM HP', 'TEAM SO', 'TEAM WP', 'TEAM ERA', 'TEAM FIP',
       'TEAM 선발 이닝', 'TEAM 구원 이닝', 'TEAM 선발 WAR', 'TEAM 구원 WAR', 'TEAM 종합 WAR',
       'TEAM 연봉', 'Unnamed: 70'], axis = 1)

In [17]:
df2.columns

Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '인정년수', '구분', 'FA등급', '플레이년도',
       'Age', 'G', 'GS', 'GR', 'W', 'L', 'S', 'BLSV', 'HD', 'BLHD', 'IP', 'ER',
       'H', '2B', '3B', 'HR', 'BB', 'HP', 'SO', 'WP', 'ERA', 'FIP', '선발 이닝',
       '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액'],
      dtype='object')

In [27]:
df2['구단명'].value_counts()

구단명
삼성          66
한화          44
LG          39
롯데          37
넥센          25
두산          24
SK          24
KIA         21
NC          17
키움          14
KT          12
군 복무         6
은퇴           4
SSG          3
미국           2
미계약          1
우리           1
일본           1
부상 시즌 아웃     1
Name: count, dtype: int64

In [51]:
filtered_df = df2[~df2['구단명'].isin(['군 복무', '은퇴', '미국', '미계약', '일본','부상 시즌 아웃'])]

In [52]:
filtered_df.isna().sum()

FA년도          0
구단명           0
선수명           0
세부 포지션        0
투             0
인정년수         53
구분            0
FA등급         53
플레이년도         0
Age           0
G             0
GS            0
GR            0
W             0
L             0
S             0
BLSV         36
HD            0
BLHD         36
IP            4
ER            0
H             0
2B           53
3B           53
HR            0
BB            0
HP            0
SO            0
WP            0
ERA           0
FIP           4
선발 이닝        53
구원 이닝        53
선발 WAR      171
구원 WAR       48
종합 WAR        0
연봉            7
비고1          53
비고2         324
잔류 여부       257
FA 계약 연수    264
FA 계약 총액    264
dtype: int64

In [53]:
filtered_df['구단명'].value_counts()

구단명
삼성     66
한화     44
LG     39
롯데     37
넥센     25
SK     24
두산     24
KIA    21
NC     17
키움     14
KT     12
SSG     3
우리      1
Name: count, dtype: int64

In [54]:
filtered_df.columns

Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '인정년수', '구분', 'FA등급', '플레이년도',
       'Age', 'G', 'GS', 'GR', 'W', 'L', 'S', 'BLSV', 'HD', 'BLHD', 'IP', 'ER',
       'H', '2B', '3B', 'HR', 'BB', 'HP', 'SO', 'WP', 'ERA', 'FIP', '선발 이닝',
       '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액'],
      dtype='object')

In [55]:
new_columns = ['FA년도', '구단명', '선수명', '세부 포지션', '투', '인정년수', '구분', 'FA등급', '플레이년도',
               '나이','게임수','선발등판','구원등판','승리','패전','세이브','블론세이브','홀드','블론홀드','이닝수','자책점',
               '피안타','2루타허용', '3루타허용','피홈런','볼넷허용','사구허용','탈삼진','폭투', 'ERA', 'FIP', '선발 이닝',
               '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '비고2', '잔류 여부',
               'FA 계약 연수', 'FA 계약 총액'
              ]

In [56]:
filtered_df.columns = new_columns

In [58]:
filtered_df

,FA년도,구단명,선수명,세부 포지션,투,인정년수,구분,FA등급,플레이년도,나이,...,구원 이닝,선발 WAR,구원 WAR,종합 WAR,연봉,비고1,비고2,잔류 여부,FA 계약 연수,FA 계약 총액
0,2011,롯데,강영식,RP,좌투,12.0,자격유지,A,2010,29.0,...,NaN,NaN,1.09,1.09,12000.0,고졸,NaN,NaN,NaN,NaN
1,2012,롯데,강영식,RP,좌투,12.0,자격유지,A,2011,30.0,...,NaN,NaN,1.26,1.26,30000.0,고졸,NaN,NaN,NaN,NaN
2,2013,롯데,강영식,RP,좌투,12.0,자격유지,A,2012,31.0,...,NaN,NaN,0.66,0.66,30000.0,고졸,NaN,NaN,NaN,NaN
3,2014,롯데,강영식,RP,좌투,12.0,자격유지,A,2013,32.0,...,39.2,NaN,0.49,0.49,30000.0,고졸,NaN,잔류,4.0,17.0
4,2015,롯데,강영식,RP,좌투,NaN,FA 1년차,NaN,2014,33.0,...,47.0,NaN,1.18,1.18,30000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2021,두산,홍건희,RP,우투,8.0,신규,A,2020,28.0,...,68.2,NaN,0.22,0.22,5300.0,고졸,NaN,NaN,NaN,NaN
338,2022,두산,홍건희,RP,우투,8.0,신규,A,2021,29.0,...,74.1,NaN,2.67,2.67,11000.0,고졸,NaN,NaN,NaN,NaN
339,2023,두산,홍건희,CP,우투,8.0,신규,A,2022,30.0,...,62.0,NaN,0.49,0.49,25000.0,고졸,NaN,NaN,NaN,NaN
340,2024,두산,홍건희,CP,우투,8.0,신규,A,2023,31.0,...,61.2,NaN,1.23,1.23,30000.0,고졸,NaN,잔류,4.0,24.5
341,2025,두산,홍건희,CP,우투,NaN,FA 1년차,NaN,2024,32.0,...,59.1,NaN,1.59,1.59,30000.0,NaN,NaN,NaN,NaN,NaN

In [59]:
filtered_df.to_csv('FA투수데이터 1차.csv', index=False)

In [60]:
# NaN이 포함된 행을 따로 구분 (a, b, c 컬럼에서 NaN이 있는지 확인)
filtered_df['is_nan'] = filtered_df[['선발 이닝', '구원 이닝', '이닝수']].isna().any(axis=1)

# a + b가 c와 일치하는지 확인 (NaN이 있는 경우는 비교하지 않음)
filtered_df['is_equal'] = (filtered_df['선발 이닝'] + filtered_df['구원 이닝'] == filtered_df['이닝수'])

# NaN이 있는 행은 is_equal에 NaN으로 표시 (NaN이 있을 경우는 비교 안함)
filtered_df['is_equal'] = filtered_df.apply(lambda row: None if row['is_nan'] else row['is_equal'], axis=1)

# 결과 확인
print(filtered_df)

     FA년도 구단명  선수명 세부 포지션   투  인정년수      구분 FA등급  플레이년도    나이  ...  구원 WAR  \
0    2011  롯데  강영식     RP  좌투  12.0    자격유지    A   2010  29.0  ...    1.09
1    2012  롯데  강영식     RP  좌투  12.0    자격유지    A   2011  30.0  ...    1.26
2    2013  롯데  강영식     RP  좌투  12.0    자격유지    A   2012  31.0  ...    0.66
3    2014  롯데  강영식     RP  좌투  12.0    자격유지    A   2013  32.0  ...    0.49
4    2015  롯데  강영식     RP  좌투   NaN  FA 1년차  NaN   2014  33.0  ...    1.18
..    ...  ..  ...    ...  ..   ...     ...  ...    ...   ...  ...     ...
337  2021  두산  홍건희     RP  우투   8.0      신규    A   2020  28.0  ...    0.22
338  2022  두산  홍건희     RP  우투   8.0      신규    A   2021  29.0  ...    2.67
339  2023  두산  홍건희     CP  우투   8.0      신규    A   2022  30.0  ...    0.49
340  2024  두산  홍건희     CP  우투   8.0      신규    A   2023  31.0  ...    1.23
341  2025  두산  홍건희     CP  우투   NaN  FA 1년차  NaN   2024  32.0  ...    1.59

     종합 WAR       연봉  비고1  비고2  잔류 여부  FA 계약 연수  FA 계약 총액  is_nan  is_equal
0      1.09  12000.0   고졸  NaN    NaN       NaN       NaN    True      None
1      1.26  30000.0   고졸  NaN    NaN       NaN       NaN    True      None
2      0.66  30000.0   고졸  NaN    NaN       NaN       NaN    True      None
3      0.49  30000.0   고졸  NaN     잔류       4.0      17.0   False      True
4      1.18  30000.0  NaN  NaN    NaN       NaN       NaN   False      True
..      ...      ...  ...  ...    ...       ...       ...     ...       ...
337    0.22   5300.0   고졸  NaN    NaN       NaN       NaN   False      True
338    2.67  11000.0   고졸  NaN    NaN       NaN       NaN   False      True
339    0.49  25000.0   고졸  NaN    NaN       NaN       NaN   False      True
340    1.23  30000.0   고졸  NaN     잔류       4.0      24.5   False      True
341    1.59  30000.0  NaN  NaN    NaN       NaN       NaN   False      True

[327 rows x 44 columns]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\3663778690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['is_nan'] = filtered_df[['선발 이닝', '구원 이닝', '이닝수']].isna().any(axis=1)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\3663778690.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['is_equal'] = (filtered_df['선발 이닝'] + filtered_df['구원 이닝'] == filtered_df['이닝수'])
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\3663778690.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['is_equal'] = filtered_df.apply(lambda row: None if row['is_nan'] else row['is_equal'], axis=1)

In [63]:
filtered_df['is_equal'].value_counts()

is_equal
True     239
False     31
Name: count, dtype: int64

In [65]:
false_rows = filtered_df[filtered_df['is_equal'] == False]
print(false_rows)

     FA년도  구단명  선수명 세부 포지션   투  인정년수      구분 FA등급  플레이년도    나이  ...  구원 WAR  \
11   2018  KIA  고효준     RP  좌투   9.0      신규    A   2017  34.0  ...    1.00
25   2016   넥센  금민철     SP  좌투   9.0      신규    A   2015  29.0  ...    0.08
30   2014   SK  김광현     SP  좌투   9.0      신규    A   2013  25.0  ...    0.03
33   2017   SK  김광현     SP  좌투   9.0      신규    A   2016  28.0  ...    0.22
42   2014   롯데  김사율     CP  우투   9.0      신규    A   2013  33.0  ...    0.71
51   2016   롯데  김승회     RP  우투  -1.0    자격유지    A   2015  34.0  ...   -0.04
66   2017   롯데  노경은     SP  우투   9.0      신규    A   2016  32.0  ...   -0.35
68   2019   롯데  노경은     SP  우투   9.0      신규    A   2018  34.0  ...    0.64
74   2014   한화  마일영     RP  좌투   NaN  FA 1년차  NaN   2013  32.0  ...    0.07
95   2020   삼성  백정현     SP  좌투   9.0      신규    B   2019  32.0  ...   -0.17
102  2017   LG  봉중근     RP  좌투   9.0      신규    A   2016  36.0  ...    0.08
115  2015   롯데  송승준     SP  우투   9.0      신규    A   2014  34.0  ...    0.23
116  2016   롯데  송승준     SP  우투   9.0      신규    A   2015  35.0  ...    0.29
126  2021   LG  송은범     RP  우투   NaN  FA 1년차  NaN   2020  36.0  ...    0.91
131  2017   한화  심수창     RP  우투   NaN  FA 1년차  NaN   2016  35.0  ...    0.33
135  2018   한화  안영명     SP  우투   9.0      신규    A   2017  33.0  ...    0.05
142  2014  KIA  양현종     SP  좌투   9.0      신규    A   2013  25.0  ...    0.57
187  2020   두산  유희관     SP  좌투   8.0      신규    A   2019  33.0  ...   -0.19
191  2018   한화  윤규진     SP  우투   9.0      신규    A   2017  33.0  ...   -0.08
237  2023   NC  이재학     SP  우사   9.0      신규    B   2022  32.0  ...   -0.29
250  2015   두산  이현승     RP  좌투   8.0      신규    A   2014  31.0  ...    0.17
265  2022   한화  장민재     SP  우투   8.0      신규    C   2021  31.0  ...   -0.18
266  2023   한화  장민재     SP  우투   8.0      신규    C   2022  32.0  ...    0.06
306  2024   KT   주권     RP  우투   8.0      신규    A   2023  28.0  ...    0.67
307  2025   KT   주권     CP  우투   NaN  FA 1년차  NaN   2024  29.0  ...   -0.03
315  2016   삼성  차우찬     SP  좌투   9.0      신규    A   2015  28.0  ...    0.25
323  2014   SK  채병용     RP  우투   9.0      신규    A   2013  31.0  ...    0.04
324  2015   SK  채병용     SP  우투   9.0      신규    A   2014  32.0  ...    0.26
325  2016   SK  채병용     RP  우투   9.0      신규    A   2015  33.0  ...    0.58
331  2024   롯데  한현희     RP  우사   NaN  FA 1년차  NaN   2023  30.0  ...   -0.42
333  2022   LG  함덕주     RP  좌투   8.0      신규    B   2021  26.0  ...    0.30

     종합 WAR       연봉  비고1  비고2  잔류 여부  FA 계약 연수  FA 계약 총액  is_nan  is_equal
11     1.08   8000.0   고졸  NaN    NaN       NaN       NaN   False     False
25     0.76   8800.0   고졸  NaN    NaN       NaN       NaN   False     False
30     1.79  24000.0   고졸  NaN    NaN       NaN       NaN   False     False
33     4.12  85000.0   고졸  NaN     미국       4.0      85.0   False     False
42     1.47  19000.0   고졸  NaN    NaN       NaN       NaN   False     False
51     0.77  19000.0   고졸  NaN    NaN       NaN       NaN   False     False
66     0.75  20000.0   고졸  NaN    NaN       NaN       NaN   False     False
68     4.18  10000.0   고졸  NaN    미계약       NaN       NaN   False     False
74    -0.07  15000.0  NaN  NaN    NaN       NaN       NaN   False     False
95     2.91  21000.0   고졸  NaN    NaN       NaN       NaN   False     False
102    0.62  30000.0   고졸  NaN     잔류       2.0      15.0   False     False
115    1.91  36000.0   고졸  NaN    NaN       NaN       NaN   False     False
116    3.00  34000.0   고졸  NaN     잔류       4.0      40.0   False     False
126    0.58  27000.0  NaN  NaN    NaN       NaN       NaN   False     False
131    0.33  25000.0  NaN  NaN    NaN       NaN       NaN   False     False
135    0.66  20000.0   고졸  NaN     잔류       2.0      12.0   False     False
142    4.34   9000.0   고졸  NaN    NaN       NaN       NaN   False     False
187    4.52  35000.0   대졸  NaN    NaN       NaN       NaN   False     False
191    2.28  18000.0   고졸  NaN    NaN       NaN       NaN   False     False
237    1.05  18000.0   고졸  NaN     잔류       3.0       9.0   False     False
250    0.53  11000.0   대졸  NaN    NaN       NaN       NaN   False     False
265    0.47  10000.0   고졸  NaN    NaN       NaN       NaN   False     False
266    3.33   7600.0   고졸  NaN    NaN       NaN       NaN   False     False
306    0.41  29500.0   고졸  NaN     잔류       4.0      16.0   False     False
307   -0.18  20000.0  NaN  NaN    NaN       NaN       NaN   False     False
315    3.52  30000.0   고졸  NaN    NaN       NaN       NaN   False     False
323   -0.07  16000.0   고졸  NaN    NaN       NaN       NaN   False     False
324    1.84  13500.0   고졸  NaN    NaN       NaN       NaN   False     False
325    0.33  22000.0   고졸  NaN     잔류       3.0      10.5   False     False
331    0.79  20000.0  NaN  NaN    NaN       NaN       NaN   False     False
333    0.32  16500.0   고졸  NaN    NaN       NaN       NaN   False     False

[31 rows x 44 columns]

In [67]:
filtered_df.loc[142, ['선발 이닝', '구원 이닝', '이닝수']]

선발 이닝     97.1
구원 이닝      7.1
이닝수      104.2
Name: 142, dtype: object

In [68]:
97.1+7.1

104.19999999999999

In [69]:
selected_values = false_rows[['선발 이닝', '구원 이닝', '이닝수']]
print(selected_values)

     선발 이닝  구원 이닝    이닝수
11     4.2   35.1   40.0
25    19.1    2.2   22.0
30   127.2    5.1  133.0
33   126.2   10.1  137.0
42    38.2   35.2   74.1
51    33.2   41.1   75.0
66    92.1    2.1   94.2
68   110.2   21.2  132.1
74     1.2   10.2   12.1
95   153.2    3.1  157.0
102   18.2   17.2   36.1
115  117.2    4.1  122.0
116  120.2    4.1  125.0
126    2.1   53.2   56.0
131   32.2   80.2  113.1
135   75.1   12.1   87.2
142   97.1    7.1  104.2
187  165.2    0.2  166.1
191   98.2   20.1  119.0
237   73.2   17.1   91.0
250   11.1   43.2   55.0
265   23.2    5.2   29.1
266  120.1    6.1  126.2
306    6.1   40.2   47.0
307    2.2   55.1   58.0
315  170.1    2.2  173.0
323    7.2   12.2   20.1
324  124.1    5.2  130.0
325   33.1   49.2   83.0
331   86.1   17.2  104.0
333    8.1   12.2   21.0

In [76]:
filtered_df['선발 이닝'].fillna(0, inplace=True)
filtered_df['구원 이닝'].fillna(0, inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\2347926837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['선발 이닝'].fillna(0, inplace=True)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\2347926837.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_df['구원 이닝'].fillna(0, inplace=True)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_29448\2347926837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['구원 이닝'].fillna(0, inplace=True)

In [77]:
filtered_df['구원 이닝'].isna().sum()

0

In [78]:
new_df= filtered_df.drop(['is_equal', 'is_nan'], axis=1)

In [80]:
new_df.to_csv('FA투수데이터 2차.csv', index = False)