In [1]:
import pandas as pd
import statsmodels.api as sm
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("C:/Users/이민정/Desktop/데이터톤/data/스탯티즈_Raw_data/FA_야수데이터_수정전.csv")
df

,FA년도,구단명,선수명,포지션,투,타,인정년수,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,평균대비수비득점기여,수비_포지션 RAA,전체수비 RAA,공격WAR,수비WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,1년당_계약금액
0,2011,롯데,강민호,C,우투,우타,9.0,신규,A,2010,25.0,117.0,465.0,410.0,66.0,125.0,19.0,1.0,8.0,23.0,72.0,2.0,7.0,42.0,65.0,16.0,5.0,1.74,9.48,11.21,3.67,0.35,NaN,고졸,NaN,NaN,NaN,134.4,15.916667
1,2012,롯데,강민호,C,우투,우타,9.0,신규,A,2011,26.0,124.0,506.0,450.0,63.0,130.0,25.0,2.0,8.0,19.0,66.0,4.0,6.0,47.0,81.0,18.0,1.0,-1.00,11.72,10.73,3.90,0.23,NaN,고졸,NaN,NaN,NaN,130.3,15.916667
2,2013,롯데,강민호,C,우투,우타,9.0,신규,A,2012,27.0,119.0,454.0,400.0,41.0,109.0,21.0,0.0,8.0,19.0,66.0,0.0,1.0,44.0,97.0,9.0,2.0,-1.68,9.16,7.48,3.76,0.65,NaN,고졸,NaN,NaN,NaN,132.9,15.916667
3,2014,롯데,강민호,C,우투,우타,9.0,신규,A,2013,28.0,105.0,405.0,327.0,48.0,77.0,13.0,0.0,11.0,11.0,57.0,4.0,1.0,60.0,87.0,5.0,6.0,7.18,8.93,16.11,1.75,1.81,NaN,고졸,잔류,4.0,75.0,99.2,15.916667
4,2015,롯데,강민호,C,우투,우타,4.0,FA 1년차,A,2014,29.0,98.0,360.0,310.0,37.0,71.0,14.0,2.0,13.0,16.0,40.0,1.0,2.0,33.0,92.0,6.0,4.0,4.54,8.09,12.63,1.20,0.40,100000.0,고졸,NaN,NaN,NaN,85.0,15.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,2019,KT,황재균,3B,우투,우타,4.0,재자격,B,2018,31.0,142.0,588.0,530.0,76.0,157.0,41.0,3.0,4.0,25.0,88.0,14.0,7.0,49.0,120.0,5.0,3.0,-0.96,-1.50,-2.46,3.54,-0.09,120000.0,고졸,NaN,NaN,NaN,117.0,18.500000
633,2020,KT,황재균,3B,우투,우타,4.0,재자격,B,2019,32.0,124.0,507.0,448.0,78.0,127.0,16.0,3.0,2.0,20.0,67.0,10.0,7.0,52.0,71.0,10.0,5.0,8.99,0.31,9.31,3.80,0.92,120000.0,고졸,NaN,NaN,NaN,127.0,18.500000
634,2021,KT,황재균,3B,우투,우타,4.0,재자격,B,2020,33.0,134.0,600.0,541.0,108.0,169.0,35.0,5.0,5.0,21.0,97.0,11.0,6.0,47.0,98.0,12.0,4.0,5.03,-0.10,4.93,4.72,0.47,120000.0,고졸,NaN,NaN,NaN,129.5,18.500000
635,2022,KT,황재균,3B,우투,우타,4.0,재자격,B,2021,34.0,117.0,507.0,453.0,74.0,132.0,16.0,2.0,3.0,10.0,56.0,11.0,4.0,46.0,92.0,11.0,4.0,4.16,-0.12,4.04,2.41,0.41,80000.0,고졸,잔류,4.0,60.0,107.9,18.500000
636,2023,KT,황재균,3B,우투,우타,NaN,FA 1년차,NaN,2022,35.0,141.0,581.0,519.0,59.0,136.0,25.0,3.0,5.0,10.0,64.0,6.0,3.0,53.0,99.0,17.0,2.0,-2.49,-0.25,-2.74,2.07,-0.26,40000.0,NaN,NaN,NaN,NaN,97.1,18.500000

In [3]:
df_clean = df.dropna(subset=['평균대비수비득점기여', '수비_포지션 RAA', '전체수비 RAA', '수비WAR'])

In [4]:
df_clean['FA 계약 총액']= df_clean['FA 계약 총액'].fillna(0)

In [5]:
correlation = df_clean[['수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR','연봉', 'FA 계약 총액']].corr()
correlation

            수비_포지션 RAA  평균대비수비득점기여  전체수비 RAA     수비WAR        연봉  FA 계약 총액
수비_포지션 RAA    1.000000    0.173534  0.859696  0.309852 -0.294084 -0.013031
평균대비수비득점기여    0.173534    1.000000  0.652242  0.831596 -0.006923  0.035078
전체수비 RAA      0.859696    0.652242  1.000000  0.669826 -0.229763  0.008122
수비WAR         0.309852    0.831596  0.669826  1.000000 -0.057100  0.041566
연봉           -0.294084   -0.006923 -0.229763 -0.057100  1.000000  0.113478
FA 계약 총액     -0.013031    0.035078  0.008122  0.041566  0.113478  1.000000

In [6]:
X = df_clean[['수비WAR', '전체수비 RAA', '수비_포지션 RAA', '평균대비수비득점기여']]
y = df_clean['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                    0.7198
Date:                Tue, 29 Jul 2025   Prob (F-statistic):              0.579
Time:                        15:23:07   Log-Likelihood:                -2889.5
No. Observations:                 637   AIC:                             5789.
Df Residuals:                     632   BIC:                             5811.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.2381      0.913      9.018      0.000       6.444      10.032
수비WAR          2.5402      3.315      0.766      0.444      -3.970       9.051
전체수비 RAA    -135.9374    119.082     -1.142      0.254    -369.781      97.907
수비_포지션 RAA   135.8218    119.075      1.141      0.254     -98.008     369.652
평균대비수비득점기여   135.9054    119.085      1.141      0.254     -97.944     369.755
==============================================================================
Omnibus:                      484.234   Durbin-Watson:                   2.272
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5821.508
Skew:                           3.465   Prob(JB):                         0.00
Kurtosis:                      16.088   Cond. No.                     2.30e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.3e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
X = df_clean[['수비WAR']]
y = df_clean['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.099
Date:                Tue, 29 Jul 2025   Prob (F-statistic):              0.295
Time:                        15:23:07   Log-Likelihood:                -2890.4
No. Observations:                 637   AIC:                             5785.
Df Residuals:                     635   BIC:                             5794.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.2375      0.899      9.162      0.000       6.472      10.003
수비WAR          1.8377      1.753      1.048      0.295      -1.605       5.280
==============================================================================
Omnibus:                      485.594   Durbin-Watson:                   2.267
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5862.547
Skew:                           3.478   Prob(JB):                         0.00
Kurtosis:                      16.134   Cond. No.                         1.96
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
X = df_clean[['전체수비 RAA']]
y = df_clean['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                   0.04189
Date:                Tue, 29 Jul 2025   Prob (F-statistic):              0.838
Time:                        15:23:07   Log-Likelihood:                -2890.9
No. Observations:                 637   AIC:                             5786.
Df Residuals:                     635   BIC:                             5795.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.2963      0.898      9.237      0.000       6.533      10.060
전체수비 RAA       0.0229      0.112      0.205      0.838      -0.197       0.243
==============================================================================
Omnibus:                      486.584   Durbin-Watson:                   2.267
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5885.802
Skew:                           3.487   Prob(JB):                         0.00
Kurtosis:                      16.157   Cond. No.                         8.01
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
X = df_clean[['수비_포지션 RAA']]
y = df_clean['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.1079
Date:                Tue, 29 Jul 2025   Prob (F-statistic):              0.743
Time:                        15:23:07   Log-Likelihood:                -2890.9
No. Observations:                 637   AIC:                             5786.
Df Residuals:                     635   BIC:                             5795.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.2696      0.902      9.172      0.000       6.499      10.040
수비_포지션 RAA    -0.0478      0.146     -0.328      0.743      -0.334       0.238
==============================================================================
Omnibus:                      486.868   Durbin-Watson:                   2.270
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5900.877
Skew:                           3.489   Prob(JB):                         0.00
Kurtosis:                      16.177   Cond. No.                         6.22
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
X = df_clean[['평균대비수비득점기여']]
y = df_clean['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.7823
Date:                Tue, 29 Jul 2025   Prob (F-statistic):              0.377
Time:                        15:23:07   Log-Likelihood:                -2890.6
No. Observations:                 637   AIC:                             5785.
Df Residuals:                     635   BIC:                             5794.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.1958      0.905      9.059      0.000       6.419       9.972
평균대비수비득점기여     0.1910      0.216      0.884      0.377      -0.233       0.615
==============================================================================
Omnibus:                      485.929   Durbin-Watson:                   2.265
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5873.486
Skew:                           3.481   Prob(JB):                         0.00
Kurtosis:                      16.147   Cond. No.                         4.23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.