In [11]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from matplotlib import rc
import platform

import warnings
warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

# 한글 폰트 설정
plt.rc('font', family='Malgun Gothic')

# 마이너스 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [4]:
df = pd.read_csv('야수_직전1년.csv')

### 가설리스트 8 직전해 받는 연봉과 계약 총액의 관련성

In [16]:
df.columns

Index(['년도', '선수명', '계약기간', '총액', '구단명', '포지션', '투', '타', '구분', 'FA등급',
       '플레이년도', '나이', '게임수', '타석수', '타수', '득점', '안타', '2루타', '3루타', '사구', '홈런',
       '타점', '도루성공', '도루실패', '볼넷', '삼진', '병살타', '희생플라이', '공격WAR', '연봉', '비고',
       '잔류 여부', 'wRC+', '장타율', '출루율', 'OPS', '득점파크팩터', '홈런파크팩터', '장타파크팩터',
       '구단지역', '국대출전횟수', '원클럽맨여부'],
      dtype='object')

In [16]:
df = df.dropna()

In [18]:
df[['연봉', '총액']].corr(method='pearson')

          연봉        총액
연봉  1.000000  0.420338
총액  0.420338  1.000000

In [20]:
X = df[['연봉']]
X = sm.add_constant(X)
y = df['총액']

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     총액   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.170
Method:                 Least Squares   F-statistic:                     26.83
Date:                Tue, 29 Jul 2025   Prob (F-statistic):           8.65e-07
Time:                        15:38:09   Log-Likelihood:                -616.66
No. Observations:                 127   AIC:                             1237.
Df Residuals:                     125   BIC:                             1243.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         21.5695      4.237      5.090      0.000      13.183      29.955
연봉             0.0004   7.96e-05      5.179      0.000       0.000       0.001
==============================================================================
Omnibus:                       21.212   Durbin-Watson:                   1.430
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.375
Skew:                           0.877   Prob(JB):                     4.18e-07
Kurtosis:                       4.574   Cond. No.                     8.11e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.