In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('무사주자1루상황_2013~2025.xlsx')
df1 = pd.read_excel('1사주자2루상황_2013~2025.xlsx')

,팀,년도,타석,타수,득점,안타,2루타,3루타,홈런,루타,...,BABIP,투구수,타석당투구수,루킹S,헛스윙,파울,타격,S비율,B비율,컨택%
0,전체,2013,2728,2113,501,604,97,4,46,847,...,0.322,9174,3.36,23.6,11.1,28.6,36.7,64.3,35.7,85.5
1,두산,2013,313,244,71,87,11,1,5,115,...,0.389,1082,3.46,26.9,9.1,26.3,37.6,62.1,37.9,87.6
2,삼성,2013,302,228,56,70,14,0,6,102,...,0.337,1032,3.42,26.0,8.3,27.4,38.4,63.4,36.6,88.8
3,KIA,2013,345,277,66,85,22,0,9,134,...,0.347,1242,3.60,21.0,12.8,33.1,33.2,63.8,36.2,83.9
4,LG,2013,304,229,63,66,7,2,3,86,...,0.346,934,3.07,21.6,14.1,25.5,38.8,66.0,34.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,KT,2025,232,185,47,49,8,1,5,74,...,0.317,868,3.74,26.3,14.3,28.9,30.5,62.7,37.3,80.5
137,삼성,2025,216,163,45,43,5,2,3,61,...,0.336,754,3.49,27.9,14.3,25.8,32.0,62.2,37.8,80.2
138,NC,2025,201,159,49,39,5,1,2,52,...,0.291,647,3.22,24.3,13.0,27.6,35.1,68.8,31.2,82.8
139,키움,2025,206,171,30,40,6,0,3,55,...,0.294,735,3.57,27.4,16.3,27.2,29.0,67.5,32.5,77.5
140,KIA,2025,237,191,43,39,6,0,5,60,...,0.235,894,3.77,23.7,14.6,30.7,31.0,61.3,38.7,80.9

In [5]:
no_out = df[df['팀']=='전체']
no_out

,팀,년도,타석,타수,득점,안타,2루타,3루타,홈런,루타,...,BABIP,투구수,타석당투구수,루킹S,헛스윙,파울,타격,S비율,B비율,컨택%
0,전체,2013,2728,2113,501,604,97,4,46,847,...,0.322,9174,3.36,23.6,11.1,28.6,36.7,64.3,35.7,85.5
10,전체,2014,2816,2258,647,740,142,15,78,1146,...,0.363,9583,3.40,25.0,11.6,27.2,36.2,64.7,35.3,84.5
20,전체,2015,3460,2688,702,828,138,8,91,1255,...,0.351,11793,3.41,22.8,12.3,29.8,35.1,65.3,34.7,84.1
31,전체,2016,3621,2927,781,896,136,9,82,1296,...,0.346,12490,3.45,23.4,12.7,28.7,35.2,64.2,35.8,83.4
42,전체,2017,3419,2813,679,842,144,5,74,1218,...,0.345,11856,3.47,23.5,12.9,29.5,34.0,66.2,33.8,83.1
53,전체,2018,3501,2953,755,914,143,14,118,1439,...,0.353,12399,3.54,23.8,14.3,29.6,32.3,65.9,34.1,81.3
64,전체,2019,3383,2835,696,833,148,18,48,1161,...,0.339,11646,3.44,23.7,12.6,29.0,34.7,64.9,35.1,83.5
75,전체,2020,3505,2925,761,859,146,10,76,1253,...,0.333,12502,3.57,23.9,13.0,29.4,33.7,64.0,36.0,83.0
86,전체,2021,3529,2917,704,789,110,6,64,1103,...,0.316,12788,3.62,25.6,13.7,28.6,32.1,63.9,36.1,81.7
97,전체,2022,3413,2785,652,783,136,8,58,1109,...,0.330,11943,3.50,24.1,12.9,29.7,33.2,65.7,34.3,82.9
108,전체,2023,3472,2779,674,795,132,11,61,1132,...,0.329,11886,3.42,23.7,12.5,29.0,34.8,65.5,34.5,83.6
119,전체,2024,3547,2967,777,914,153,11,85,1344,...,0.356,12683,3.58,25.7,13.1,28.5,32.7,65.5,34.5,82.4
130,전체,2025,2174,1757,449,477,69,7,32,656,...,0.328,7755,3.57,25.0,14.0,29.2,31.8,64.8,35.2,81.3

In [9]:
one_out = df1[df1['팀']=='전체']
one_out.columns

Index(['팀', '년도', '타석', '타수', '득점', '안타', '2루타', '3루타', '홈런', '루타', '타점',
       '땅볼아웃', '뜬공아웃', '볼넷', '사구', '고의4구', '삼진', '병살타', '희생번트', '희생플라이', '타율',
       '출루율', '장타율', 'OPS', 'BB%', 'K%', 'BB/K', '순장타율', '순출루율', 'BABIP',
       '투구수', '타석당투구수', '루킹S', '헛스윙', '파울', '타격', 'S비율', 'B비율', '컨택%'],
      dtype='object')

In [13]:
no_out = no_out[['팀', '년도', '타석', '타수', '득점', '안타', '2루타', '3루타', '홈런', '타점',
       '볼넷', '사구', '고의4구','병살타', '희생번트', '타율', '출루율', '장타율', 'OPS','순장타율', '순출루율', 'BABIP']]

In [15]:
one_out = one_out[['팀', '년도', '타석', '타수', '득점', '안타', '2루타', '3루타', '홈런', '타점',
       '볼넷', '사구', '고의4구','병살타', '희생번트', '타율', '출루율', '장타율', 'OPS','순장타율', '순출루율', 'BABIP']]

In [17]:
merged = pd.merge(no_out, one_out,on=['년도'])
merged

,팀_x,년도,타석_x,타수_x,득점_x,안타_x,2루타_x,3루타_x,홈런_x,타점_x,...,고의4구_y,병살타_y,희생번트_y,타율_y,출루율_y,장타율_y,OPS_y,순장타율_y,순출루율_y,BABIP_y
0,전체,2013,2728,2113,501,604,97,4,46,138,...,26,0,0,0.262,0.389,0.367,0.756,0.105,0.127,0.313
1,전체,2014,2816,2258,647,740,142,15,78,224,...,21,0,0,0.251,0.384,0.404,0.788,0.153,0.133,0.285
2,전체,2015,3460,2688,702,828,138,8,91,242,...,40,0,0,0.280,0.395,0.416,0.811,0.136,0.115,0.331
3,전체,2016,3621,2927,781,896,136,9,82,209,...,12,0,0,0.295,0.404,0.468,0.872,0.173,0.109,0.341
4,전체,2017,3419,2813,679,842,144,5,74,201,...,24,0,0,0.284,0.381,0.465,0.846,0.181,0.097,0.326
5,전체,2018,3501,2953,755,914,143,14,118,298,...,25,0,0,0.294,0.390,0.448,0.838,0.154,0.096,0.343
6,전체,2019,3383,2835,696,833,148,18,48,156,...,17,0,0,0.253,0.368,0.365,0.733,0.112,0.115,0.304
7,전체,2020,3505,2925,761,859,146,10,76,210,...,24,0,0,0.284,0.403,0.424,0.827,0.140,0.119,0.333
8,전체,2021,3529,2917,704,789,110,6,64,176,...,25,0,0,0.259,0.384,0.401,0.785,0.142,0.125,0.306
9,전체,2022,3413,2785,652,783,136,8,58,165,...,39,0,0,0.232,0.364,0.351,0.715,0.119,0.132,0.279
10,전체,2023,3472,2779,674,795,132,11,61,182,...,22,0,0,0.258,0.369,0.373,0.742,0.115,0.111,0.305
11,전체,2024,3547,2967,777,914,153,11,85,234,...,31,0,0,0.277,0.380,0.405,0.785,0.128,0.103,0.333
12,전체,2025,2174,1757,449,477,69,7,32,90,...,23,0,0,0.266,0.390,0.369,0.759,0.103,0.124,0.333

In [21]:
merged.columns = merged.columns.str.replace('_x', '_무사').str.replace('_y', '_1사')

In [23]:
merged.columns

Index(['팀_무사', '년도', '타석_무사', '타수_무사', '득점_무사', '안타_무사', '2루타_무사', '3루타_무사',
       '홈런_무사', '타점_무사', '볼넷_무사', '사구_무사', '고의4구_무사', '병살타_무사', '희생번트_무사',
       '타율_무사', '출루율_무사', '장타율_무사', 'OPS_무사', '순장타율_무사', '순출루율_무사', 'BABIP_무사',
       '팀_1사', '타석_1사', '타수_1사', '득점_1사', '안타_1사', '2루타_1사', '3루타_1사', '홈런_1사',
       '타점_1사', '볼넷_1사', '사구_1사', '고의4구_1사', '병살타_1사', '희생번트_1사', '타율_1사',
       '출루율_1사', '장타율_1사', 'OPS_1사', '순장타율_1사', '순출루율_1사', 'BABIP_1사'],
      dtype='object')

In [25]:
merged.to_csv('강한2번타자론.csv', index=False)