In [21]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [23]:
df = pd.read_csv("FA_야수데이터.csv")
df1 = pd.read_excel("C:/Users/이민정\Desktop/FA_계약_정보_전체_2013_2025.xlsx")
df1

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\이민정\AppData\Local\Temp\ipykernel_23040\2469702028.py:2: SyntaxWarning: invalid escape sequence '\D'
  df1 = pd.read_excel("C:/Users/이민정\Desktop/FA_계약_정보_전체_2013_2025.xlsx")

       년도  선수명 원소속팀  이적팀 계약기간     총액     옵션      보상선수
0    2013  정성훈   LG   LG   4년    34억      -         -
1    2013  이진영   LG   LG   4년    34억      -         -
2    2013  김원섭  KIA  KIA   3년    14억      -         -
3    2014  박한이   삼성   삼성   4년    28억      -         -
4    2014  이병규   LG   LG   3년  25.5억      -         -
..    ...  ...  ...  ...  ...    ...    ...       ...
128  2023  노진혁   NC   롯데   4년    50억     4억       안중열
129  2023  박세혁   두산   NC   4년    46억     4억       박준영
130  2023  김상수   삼성   KT   4년    29억     6억       김태훈
131  2023  오선진   삼성   한화   2년     4억  2500만  현금 보상[C]
132  2024  안치홍   롯데   한화   6년    72억    25억     현금 보상

[133 rows x 8 columns]

In [25]:
선수명_차이_1 = df[~df['선수명'].isin(df1['선수명'])]['선수명'].unique()

# df1에는 있고 df에는 없는 선수명 목록
선수명_차이_2 = df1[~df1['선수명'].isin(df['선수명'])]['선수명'].unique()

# 출력
print("df에는 있고 df1에는 없는 선수명:")
print(선수명_차이_1)

print("\ndf1에는 있고 df에는 없는 선수명:")
print(선수명_차이_2)

df에는 있고 df1에는 없는 선수명:
['용덕한' '이병규(9)' '이우민']

df1에는 있고 df에는 없는 선수명:
['이병규']

In [27]:
df['선수명'] = df['선수명'].str.replace(r"\(.*\)", "", regex=True).str.strip()

In [29]:
merged_df = df1.merge(df, left_on=['선수명', '년도'], right_on=['선수명', 'FA년도'], how='left')

In [31]:
merged_df.columns

Index(['년도', '선수명', '원소속팀', '이적팀', '계약기간', '총액', '옵션', '보상선수', 'FA년도', '구단명',
       '포지션', '투', '타', '인정년수', '구분', 'FA등급', '플레이년도', '나이', '게임수', '타석수',
       '타수', '득점', '안타', '2루타', '3루타', '사구', '홈런', '타점', '도루성공', '도루실패', '볼넷',
       '삼진', '병살타', '희생플라이', '평균대비수비득점기여', '수비_포지션 RAA', '전체수비 RAA', '공격WAR',
       '수비WAR', '연봉', '비고', '잔류 여부', 'FA 계약 연수', 'FA 계약 총액', 'wRC+',
       '1년당_계약금액'],
      dtype='object')

In [33]:
result = merged_df.drop(['FA 계약 연수','FA 계약 총액','인정년수','원소속팀','FA년도'],axis=1)

In [37]:
result.reset_index()
result.to_csv('FA_야수_수정데이터.csv', index= False)