In [43]:
import pandas as pd
import statsmodels.api as sm
pd.set_option('display.max_columns', None)

In [21]:
df = pd.read_csv('야수_전처리_ver03_데이터추가.csv')
df

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,평균대비수비득점기여,수비_포지션 RAA,전체수비 RAA,공격WAR,수비WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,117,465,410,66,125,19,1,8,23,72,2,7,42,65,16,5,1.74,9.48,11.21,3.67,0.35,13500,고졸,잔류,0,0.0,134.4,0.629,0.376,1.005
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,124,506,450,63,130,25,2,8,19,66,4,6,47,81,18,1,-1.00,11.72,10.73,3.90,0.23,20000,고졸,잔류,0,0.0,130.3,0.582,0.366,0.948
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,119,454,400,41,109,21,0,8,19,66,0,1,44,97,9,2,-1.68,9.16,7.48,3.76,0.65,30000,고졸,잔류,0,0.0,132.9,0.568,0.355,0.923
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,105,405,327,48,77,13,0,11,11,57,4,1,60,87,5,6,7.18,8.93,16.11,1.75,1.81,55000,고졸,잔류,4,750000.0,99.2,0.450,0.366,0.816
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,98,360,310,37,71,14,2,13,16,40,1,2,33,92,6,4,4.54,8.09,12.63,1.20,0.40,100000,고졸,잔류,0,0.0,85.0,0.545,0.325,0.870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,142,588,530,76,157,41,3,4,25,88,14,7,49,120,5,3,-0.96,-1.50,-2.46,3.54,-0.09,120000,고졸,이적,0,0.0,117.0,0.657,0.358,1.015
665,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,8.99,0.31,9.31,3.80,0.92,120000,고졸,이적,0,0.0,127.0,0.554,0.357,0.911
666,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,5.03,-0.10,4.93,4.72,0.47,120000,고졸,이적,0,0.0,129.5,0.625,0.370,0.995
667,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,4.16,-0.12,4.04,2.41,0.41,80000,고졸,잔류,4,600000.0,107.9,0.464,0.358,0.822
668,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,NaN,2022,35,141,581,519,59,136,25,3,5,10,64,6,3,53,99,17,2,-2.49,-0.25,-2.74,2.07,-0.26,40000,고졸,잔류,0,0.0,97.1,0.453,0.335,0.788

In [65]:
df_clean = df.dropna(subset=['평균대비수비득점기여', '수비_포지션 RAA', '전체수비 RAA', '수비WAR'])

In [67]:
grouped = df.groupby('선수명')[['공격WAR','wRC+','장타율','출루율','OPS',
                             '수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR',
                             '연봉', 'FA 계약 총액']].sum().reset_index()

In [69]:
correlation = grouped[['수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR','연봉', 'FA 계약 총액']].corr()
correlation

,수비_포지션 RAA,평균대비수비득점기여,전체수비 RAA,수비WAR,연봉,FA 계약 연수,FA 계약 총액
수비_포지션 RAA,1.000000,0.298932,0.921562,0.447553,-0.233246,0.063437,0.007115
평균대비수비득점기여,0.298932,1.000000,0.645962,0.811073,0.059405,0.169590,0.175612
전체수비 RAA,0.921562,0.645962,1.000000,0.687995,-0.162429,0.119721,0.077136
수비WAR,0.447553,0.811073,0.687995,1.000000,-0.026172,0.118245,0.103405
연봉,-0.233246,0.059405,-0.162429,-0.026172,1.000000,0.360316,0.529008
FA 계약 연수,0.063437,0.169590,0.119721,0.118245,0.360316,1.000000,0.794558
FA 계약 총액,0.007115,0.175612,0.077136,0.103405,0.529008,0.794558,1.000000

In [71]:
correlation = grouped[['수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR','연봉']].corr()
correlation

            수비_포지션 RAA  평균대비수비득점기여  전체수비 RAA     수비WAR        연봉
수비_포지션 RAA    1.000000    0.298932  0.921562  0.447553 -0.233246
평균대비수비득점기여    0.298932    1.000000  0.645962  0.811073  0.059405
전체수비 RAA      0.921562    0.645962  1.000000  0.687995 -0.162429
수비WAR         0.447553    0.811073  0.687995  1.000000 -0.026172
연봉           -0.233246    0.059405 -0.162429 -0.026172  1.000000

In [75]:
correlation = grouped[['수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR','FA 계약 총액']].corr()
correlation

            수비_포지션 RAA  평균대비수비득점기여  전체수비 RAA     수비WAR  FA 계약 총액
수비_포지션 RAA    1.000000    0.298932  0.921562  0.447553  0.007115
평균대비수비득점기여    0.298932    1.000000  0.645962  0.811073  0.175612
전체수비 RAA      0.921562    0.645962  1.000000  0.687995  0.077136
수비WAR         0.447553    0.811073  0.687995  1.000000  0.103405
FA 계약 총액      0.007115    0.175612  0.077136  0.103405  1.000000

In [89]:
correlation = grouped[['공격WAR','wRC+','장타율','출루율','OPS',
                             '수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR',
                             '연봉', 'FA 계약 총액']].corr()
correlation

,공격WAR,wRC+,장타율,출루율,OPS,수비_포지션 RAA,평균대비수비득점기여,전체수비 RAA,수비WAR,연봉,FA 계약 총액
공격WAR,1.000000,0.853599,0.787734,0.731855,0.771929,-0.113053,0.106004,-0.047319,-0.020765,0.541995,0.729252
wRC+,0.853599,1.000000,0.970677,0.957543,0.973769,-0.173217,0.108045,-0.094609,0.002297,0.475605,0.622980
장타율,0.787734,0.970677,1.000000,0.964404,0.994249,-0.144933,0.122184,-0.066233,0.026016,0.441715,0.584612
출루율,0.731855,0.957543,0.964404,1.000000,0.987177,-0.072763,0.137221,-0.002387,0.058447,0.388116,0.536127
OPS,0.771929,0.973769,0.994249,0.987177,1.000000,-0.116960,0.129333,-0.040950,0.039376,0.423835,0.570042
수비_포지션 RAA,-0.113053,-0.173217,-0.144933,-0.072763,-0.116960,1.000000,0.298932,0.921562,0.447553,-0.233246,0.007115
평균대비수비득점기여,0.106004,0.108045,0.122184,0.137221,0.129333,0.298932,1.000000,0.645962,0.811073,0.059405,0.175612
전체수비 RAA,-0.047319,-0.094609,-0.066233,-0.002387,-0.040950,0.921562,0.645962,1.000000,0.687995,-0.162429,0.077136
수비WAR,-0.020765,0.002297,0.026016,0.058447,0.039376,0.447553,0.811073,0.687995,1.000000,-0.026172,0.103405
연봉,0.541995,0.475605,0.441715,0.388116,0.423835,-0.233246,0.059405,-0.162429,-0.026172,1.000000,0.529008
FA 계약 총액,0.729252,0.622980,0.584612,0.536127,0.570042,0.007115,0.175612,0.077136,0.103405,0.529008,1.000000

In [79]:
X = grouped[['수비WAR', '전체수비 RAA', '수비_포지션 RAA', '평균대비수비득점기여']]
y = grouped['연봉']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     연봉   R-squared:                       0.074
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     4.850
Date:                Thu, 24 Jul 2025   Prob (F-statistic):           0.000885
Time:                        10:47:44   Log-Likelihood:                -3276.5
No. Observations:                 247   AIC:                             6563.
Df Residuals:                     242   BIC:                             6581.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.152e+05   9197.130     12.521      0.000     9.7e+04    1.33e+05
수비WAR      -7217.2556   1.38e+04     -0.524      0.601   -3.43e+04    1.99e+04
전체수비 RAA   -2.405e+05   7.18e+05     -0.335      0.738   -1.65e+06    1.17e+06
수비_포지션 RAA  2.383e+05   7.17e+05      0.332      0.740   -1.18e+06    1.65e+06
평균대비수비득점기여  2.435e+05   7.18e+05      0.339      0.735   -1.17e+06    1.66e+06
==============================================================================
Omnibus:                      176.509   Durbin-Watson:                   1.564
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1596.511
Skew:                           2.868   Prob(JB):                         0.00
Kurtosis:                      14.055   Cond. No.                     3.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [81]:
X = grouped[['수비WAR', '전체수비 RAA', '수비_포지션 RAA', '평균대비수비득점기여']]
y = grouped['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     2.253
Date:                Thu, 24 Jul 2025   Prob (F-statistic):             0.0640
Time:                        10:47:44   Log-Likelihood:                -3496.7
No. Observations:                 247   AIC:                             7003.
Df Residuals:                     242   BIC:                             7021.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.223e+05   2.24e+04      9.909      0.000    1.78e+05    2.66e+05
수비WAR      -2.818e+04   3.36e+04     -0.839      0.402   -9.43e+04     3.8e+04
전체수비 RAA    3.825e+04   1.75e+06      0.022      0.983   -3.41e+06    3.49e+06
수비_포지션 RAA  -3.88e+04   1.75e+06     -0.022      0.982   -3.49e+06    3.41e+06
평균대비수비득점기여 -2.806e+04   1.75e+06     -0.016      0.987   -3.48e+06    3.42e+06
==============================================================================
Omnibus:                       95.090   Durbin-Watson:                   2.124
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              239.932
Skew:                           1.816   Prob(JB):                     7.93e-53
Kurtosis:                       6.182   Cond. No.                     3.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [83]:
X = grouped[['공격WAR','wRC+','장타율','출루율','OPS',
                             '수비_포지션 RAA','평균대비수비득점기여','전체수비 RAA','수비WAR',]]
y = grouped['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.551
Model:                            OLS   Adj. R-squared:                  0.536
Method:                 Least Squares   F-statistic:                     36.55
Date:                Thu, 24 Jul 2025   Prob (F-statistic):           1.95e-37
Time:                        10:47:45   Log-Likelihood:                -3402.3
No. Observations:                 247   AIC:                             6823.
Df Residuals:                     238   BIC:                             6854.
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -8584.9594   3.11e+04     -0.276      0.783   -6.99e+04    5.27e+04
공격WAR        4.05e+04   6514.040      6.217      0.000    2.77e+04    5.33e+04
wRC+         180.6019    547.651      0.330      0.742    -898.260    1259.464
장타율         1.183e+05   8.79e+04      1.347      0.179   -5.48e+04    2.91e+05
출루율        -1.429e+05   1.08e+05     -1.326      0.186   -3.55e+05    6.93e+04
OPS         -2.46e+04   4.39e+04     -0.560      0.576   -1.11e+05     6.2e+04
수비_포지션 RAA -2.092e+05   1.21e+06     -0.173      0.863   -2.59e+06    2.17e+06
평균대비수비득점기여 -2.101e+05   1.21e+06     -0.174      0.862   -2.59e+06    2.17e+06
전체수비 RAA    2.106e+05   1.21e+06      0.174      0.862   -2.17e+06    2.59e+06
수비WAR       2.429e+04   2.34e+04      1.038      0.300   -2.18e+04    7.04e+04
==============================================================================
Omnibus:                      121.531   Durbin-Watson:                   2.076
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              954.486
Skew:                           1.777   Prob(JB):                    5.45e-208
Kurtosis:                      11.950   Cond. No.                     1.91e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.83e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [85]:
X = grouped[['공격WAR','wRC+','장타율','출루율','OPS',]]
y = grouped['FA 계약 총액']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               FA 계약 총액   R-squared:                       0.534
Model:                            OLS   Adj. R-squared:                  0.526
Method:                 Least Squares   F-statistic:                     69.25
Date:                Thu, 24 Jul 2025   Prob (F-statistic):           5.30e-39
Time:                        10:47:46   Log-Likelihood:                -3407.0
No. Observations:                 247   AIC:                             6824.
Df Residuals:                     242   BIC:                             6842.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.467e+04   3.13e+04     -0.468      0.640   -7.64e+04     4.7e+04
공격WAR       4.466e+04   6166.216      7.242      0.000    3.25e+04    5.68e+04
wRC+        -305.0353    506.681     -0.602      0.548   -1303.104     693.033
장타율         6.781e+04   8.53e+04      0.795      0.427      -1e+05    2.36e+05
출루율        -4.916e+04      1e+05     -0.492      0.623   -2.46e+05    1.48e+05
OPS         1.865e+04   4.03e+04      0.463      0.644   -6.07e+04     9.8e+04
==============================================================================
Omnibus:                      123.481   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              891.517
Skew:                           1.849   Prob(JB):                    2.57e-194
Kurtosis:                      11.541   Cond. No.                     1.33e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.61e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.