In [57]:
import pandas as pd
pd.reset_option('display.max_row')
pd.set_option('display.max_columns', None)

In [59]:
df = pd.read_csv('야수_전처리_ver12.csv')

In [61]:
df = df.drop(['평균홈런기여'], axis = 1)

In [63]:
df_2016 = df[df['FA년도'] <= 2016]
df_2024 = df[df['FA년도'] >= 2017]

In [65]:
df_2016 = df_2016 .drop(['타격 WPA','주루 WPA','WPA+','WPA-','WPA','1점 홈런','2점 홈런 ','3점 홈런','만루 홈런','홈런기여점수'],axis = 1)

In [67]:
df_2016

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,선수명_수정,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순
0,2014,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,117,465,410,66,125,19,1,8,23,72,2,7,42,65,16,5,3.67,13500,고졸,잔류,0,0,134.4,0.629,0.376,1.005,1032,1128,1093,부산,8,0,강민호,0,0,0,4,104,283,70,4,0,6번 타순
1,2014,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,124,506,450,63,130,25,2,8,19,66,4,6,47,81,18,1,3.90,20000,고졸,잔류,0,0,130.3,0.582,0.366,0.948,1044,1128,1093,부산,8,0,강민호,0,0,0,0,189,317,0,0,0,6번 타순
2,2014,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,119,454,400,41,109,21,0,8,19,66,0,1,44,97,9,2,3.76,30000,고졸,잔류,0,0,132.9,0.568,0.355,0.923,1033,1128,1093,부산,8,0,강민호,0,0,0,160,91,187,4,8,4,6번 타순
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,105,405,327,48,77,13,0,11,11,57,4,1,60,87,5,6,1.75,55000,고졸,잔류,4,750000,99.2,0.450,0.366,0.816,1058,1128,1093,부산,8,0,강민호,0,0,0,194,56,57,82,15,1,4번 타순
14,2016,두산,고영민(2013),2B,우투,우타,신규,A,2012,28,58,173,151,33,40,10,1,3,3,26,7,1,13,28,5,0,1.12,8000,고졸,잔류,0,0,112.7,0.497,0.335,0.832,972,817,994,서울,2,1,고영민,33,20,0,0,2,17,8,49,44,8번 타순
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,2014,한화,한상훈(2012),SS,우투,좌타,신규,A,2013,33,101,322,260,45,68,13,4,6,0,25,5,4,47,40,7,3,1.46,11000,대졸,잔류,4,130000,102.9,0.408,0.383,0.791,998,903,966,대전,0,1,한상훈,11,201,0,1,4,13,29,42,21,2번 타순
504,2013,롯데,홍성흔(2010),DH,우투,우타,재자격,A,2009,32,119,487,426,71,158,33,0,5,12,64,9,3,49,55,15,7,5.84,27900,고졸,잔류,0,0,162.4,0.638,0.435,1.073,1012,1128,1093,부산,3,0,홍성흔,0,0,128,4,224,75,56,0,0,5번 타순
505,2013,롯데,홍성흔(2010),DH,우투,우타,재자격,A,2010,33,111,498,431,88,151,28,1,7,26,116,2,2,54,49,18,5,6.65,40000,고졸,잔류,0,0,174.3,0.729,0.427,1.156,1032,1128,1093,부산,3,0,홍성흔,0,0,406,9,31,40,12,0,0,3번 타순
506,2013,롯데,홍성흔(2010),DH,우투,우타,재자격,A,2011,34,132,535,474,70,145,24,2,3,6,67,2,5,53,80,22,5,3.83,40000,고졸,잔류,0,0,124.5,0.470,0.376,0.846,1044,1128,1093,부산,3,0,홍성흔,2,3,27,0,351,148,0,1,3,5번 타순
507,2013,롯데,홍성흔(2010),DH,우투,우타,재자격,A,2012,35,113,443,390,48,114,20,0,2,15,74,4,5,47,83,10,3,3.97,40000,고졸,이적,4,210000,141.9,0.549,0.369,0.918,1033,1128,1093,부산,3,0,홍성흔,1,0,0,306,107,28,0,1,0,4번 타순

In [69]:
df_2024

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,선수명_수정,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순
4,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2015,30,123,456,380,63,118,18,1,14,35,86,0,0,60,112,14,2,5.80,100000,고졸,잔류,0,0,163.0,0.782,0.421,1.203,1050,1107,1048,부산,8,0,4.46,0.13,11.08,-6.49,4.59,19.0,10.0,2.0,4.0,강민호,61.0,0,1,0,5,228,193,23,4,2,5번 타순
5,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2016,31,116,460,381,65,123,26,0,10,20,72,4,0,66,91,7,3,4.93,100000,고졸,잔류,0,0,142.2,0.669,0.433,1.102,1051,1135,1035,부산,8,0,5.02,0.10,11.59,-6.47,5.12,11.0,4.0,4.0,1.0,강민호,35.0,0,1,1,0,184,259,8,1,6,6번 타순
6,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2017,32,130,515,456,62,130,22,1,15,22,68,0,2,41,104,15,3,3.43,100000,고졸,이적,4,800000,107.3,0.581,0.361,0.942,1048,1095,1025,부산,8,0,1.14,-0.03,10.46,-9.34,1.11,11.0,6.0,5.0,0.0,강민호,38.0,0,0,0,0,236,239,23,7,10,6번 타순
7,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2019,34,112,393,346,36,81,20,0,9,13,45,0,0,33,76,9,3,1.83,125000,3번째 FA,이적,0,0,91.6,0.500,0.315,0.815,1068,1161,1019,대구,8,0,0.41,0.06,6.61,-6.14,0.47,6.0,4.0,3.0,0.0,강민호,23.0,0,1,0,12,71,68,81,155,5,8번 타순
8,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2020,35,119,393,355,46,102,14,0,4,19,61,0,0,31,54,17,3,2.38,125000,3번째 FA,이적,0,0,106.8,0.580,0.349,0.929,1058,1189,1009,대구,8,0,0.52,0.13,7.59,-6.94,0.65,9.0,4.0,4.0,2.0,강민호,37.0,0,0,1,29,34,64,77,187,1,8번 타순
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2015,28,144,596,534,95,155,41,2,4,26,97,11,10,48,122,14,6,2.45,31000,고졸,잔류,0,0,109.8,0.650,0.350,1.000,1050,1107,1048,부산,5,0,0.46,-0.25,11.56,-11.36,0.21,14.0,9.0,2.0,1.0,황재균,42.0,49,39,411,18,0,11,48,17,3,3번 타순
511,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2016,29,127,559,498,97,167,26,5,4,27,113,25,10,49,66,10,8,4.12,50000,고졸,이적,4,880000,128.2,0.687,0.394,1.081,1051,1135,1035,부산,5,0,4.38,0.14,14.27,-9.75,4.52,16.0,8.0,2.0,1.0,황재균,42.0,0,0,91,341,68,9,46,2,2,4번 타순
512,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,고졸,이적,0,0,127.0,0.554,0.357,0.911,1006,948,1019,수원,5,0,1.95,0.12,10.99,-8.92,2.07,15.0,4.0,1.0,0.0,황재균,26.0,25,115,3,12,28,216,103,1,4,6번 타순
513,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,고졸,이적,0,0,129.5,0.625,0.370,0.995,1012,978,1018,수원,5,0,3.62,0.12,13.38,-9.64,3.73,12.0,6.0,3.0,0.0,황재균,33.0,7,418,4,0,31,98,34,6,2,2번 타순
514,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,고졸,잔류,4,600000,107.9,0.464,0.358,0.822,1024,987,1017,수원,5,0,-0.49,0.10,8.61,-9.00,-0.39,7.0,1.0,2.0,0.0,황재균,15.0,37,389,19,17,7,32,0,4,2,2번 타순

In [71]:
df_2016.to_csv('2013~2016_FA_4년정보.csv', index = False)
df_2024.to_csv('2017~2024_FA_4년정보.csv', index = False)