In [16]:
import pandas as pd

In [74]:
a1 = pd.read_csv('야수_전처리_ver06.csv')
df1 = pd.read_csv('국대1번출전선수.csv')
df2 = pd.read_csv('국대여러번출전선수.csv')

In [52]:
a1['선수명_수정'] = a1['선수명'].str.replace(r'\(\d+\)', '', regex=True)
a1

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,...,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,선수명_수정
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,...,134.4,0.629,0.376,1.005,1032.0,1128.0,1093.0,부산,NaN,강민호
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,...,130.3,0.582,0.366,0.948,1044.0,1128.0,1093.0,부산,NaN,강민호
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,...,132.9,0.568,0.355,0.923,1033.0,1128.0,1093.0,부산,NaN,강민호
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,...,99.2,0.450,0.366,0.816,1058.0,1128.0,1093.0,부산,NaN,강민호
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,...,85.0,0.545,0.325,0.870,1045.0,1102.0,1062.0,부산,NaN,강민호
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,...,117.0,0.657,0.358,1.015,1018.0,985.0,1031.0,수원,NaN,황재균
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,...,127.0,0.554,0.357,0.911,1006.0,948.0,1019.0,수원,NaN,황재균
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,...,129.5,0.625,0.370,0.995,1012.0,978.0,1018.0,수원,NaN,황재균
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,...,107.9,0.464,0.358,0.822,1024.0,987.0,1017.0,수원,NaN,황재균
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,...,97.1,0.453,0.335,0.788,1039.0,1028.0,1020.0,수원,NaN,황재균

In [54]:
# 선수명 기준으로 merge
merged = pd.merge(a1, df2, left_on='선수명_수정', right_on='선수명', how='left')
merged

,FA년도,구단명,선수명_x,포지션,투,타,구분,FA등급,플레이년도,나이,...,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수_x,선수명_수정,선수명_y,국대출전횟수_y
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,...,0.376,1.005,1032.0,1128.0,1093.0,부산,NaN,강민호,강민호,8.0
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,...,0.366,0.948,1044.0,1128.0,1093.0,부산,NaN,강민호,강민호,8.0
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,...,0.355,0.923,1033.0,1128.0,1093.0,부산,NaN,강민호,강민호,8.0
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,...,0.366,0.816,1058.0,1128.0,1093.0,부산,NaN,강민호,강민호,8.0
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,...,0.325,0.870,1045.0,1102.0,1062.0,부산,NaN,강민호,강민호,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,...,0.358,1.015,1018.0,985.0,1031.0,수원,NaN,황재균,황재균,5.0
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,...,0.357,0.911,1006.0,948.0,1019.0,수원,NaN,황재균,황재균,5.0
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,...,0.370,0.995,1012.0,978.0,1018.0,수원,NaN,황재균,황재균,5.0
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,...,0.358,0.822,1024.0,987.0,1017.0,수원,NaN,황재균,황재균,5.0
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,...,0.335,0.788,1039.0,1028.0,1020.0,수원,NaN,황재균,황재균,5.0

In [56]:
merged = merged.drop(columns=['선수명_수정', '선수명_y'])
merged = merged.rename(columns={'선수명_x':'선수명'})

merged

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,...,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수_x,국대출전횟수_y
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,...,134.4,0.629,0.376,1.005,1032.0,1128.0,1093.0,부산,NaN,8.0
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,...,130.3,0.582,0.366,0.948,1044.0,1128.0,1093.0,부산,NaN,8.0
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,...,132.9,0.568,0.355,0.923,1033.0,1128.0,1093.0,부산,NaN,8.0
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,...,99.2,0.450,0.366,0.816,1058.0,1128.0,1093.0,부산,NaN,8.0
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,...,85.0,0.545,0.325,0.870,1045.0,1102.0,1062.0,부산,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,...,117.0,0.657,0.358,1.015,1018.0,985.0,1031.0,수원,NaN,5.0
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,...,127.0,0.554,0.357,0.911,1006.0,948.0,1019.0,수원,NaN,5.0
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,...,129.5,0.625,0.370,0.995,1012.0,978.0,1018.0,수원,NaN,5.0
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,...,107.9,0.464,0.358,0.822,1024.0,987.0,1017.0,수원,NaN,5.0
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,...,97.1,0.453,0.335,0.788,1039.0,1028.0,1020.0,수원,NaN,5.0

In [60]:
merged['국대출전횟수'] = merged['국대출전횟수_x'].combine_first(merged['국대출전횟수_y'])

In [90]:
a1.isna().sum()

FA년도         0
구단명          0
선수명          0
포지션          0
투            0
타            0
구분           0
FA등급         0
플레이년도        0
나이           0
게임수          0
타석수          0
타수           0
득점           0
안타           0
2루타          0
3루타          0
사구           0
홈런           0
타점           0
도루성공         0
도루실패         0
볼넷           0
삼진           0
병살타          0
희생플라이        0
공격WAR        0
연봉           0
비고           0
잔류 여부        0
FA 계약 연수     0
FA 계약 총액     0
wRC+         0
장타율          0
출루율          0
OPS          0
득점파크팩터      21
홈런파크팩터      21
장타파크팩터      21
구단지역        21
국대출전횟수       0
dtype: int64

In [64]:
merged = merged.drop(['국대출전횟수_x','국대출전횟수_y'],axis=1)

In [86]:
a1['국대출전횟수']= a1['국대출전횟수'].fillna(0)

In [92]:
a1.to_csv('야수_전처리_ver06.csv',index=False)