In [69]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [121]:
df= pd.read_csv('2013~2016_FA_4년정보.csv')
df1= pd.read_csv('2017~2024_FA_4년정보.csv')

In [123]:
df1

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,선수명_수정,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순,1년당 계약 총액
0,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2015,30,123,456,380,63,118,18,1,14,35,86,0,0,60,112,14,2,5.80,100000,고졸,잔류,0,0,163.0,0.782,0.421,1.203,1050,1107,1048,부산,8,0,4.46,0.13,11.08,-6.49,4.59,19.0,10.0,2.0,4.0,강민호,61.0,0,1,0,5,228,193,23,4,2,5번 타순,200000.0
1,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2016,31,116,460,381,65,123,26,0,10,20,72,4,0,66,91,7,3,4.93,100000,고졸,잔류,0,0,142.2,0.669,0.433,1.102,1051,1135,1035,부산,8,0,5.02,0.10,11.59,-6.47,5.12,11.0,4.0,4.0,1.0,강민호,35.0,0,1,1,0,184,259,8,1,6,6번 타순,200000.0
2,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2017,32,130,515,456,62,130,22,1,15,22,68,0,2,41,104,15,3,3.43,100000,고졸,이적,4,800000,107.3,0.581,0.361,0.942,1048,1095,1025,부산,8,0,1.14,-0.03,10.46,-9.34,1.11,11.0,6.0,5.0,0.0,강민호,38.0,0,0,0,0,236,239,23,7,10,6번 타순,200000.0
3,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2019,34,112,393,346,36,81,20,0,9,13,45,0,0,33,76,9,3,1.83,125000,3번째 FA,이적,0,0,91.6,0.500,0.315,0.815,1068,1161,1019,대구,8,0,0.41,0.06,6.61,-6.14,0.47,6.0,4.0,3.0,0.0,강민호,23.0,0,1,0,12,71,68,81,155,5,8번 타순,90000.0
4,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2020,35,119,393,355,46,102,14,0,4,19,61,0,0,31,54,17,3,2.38,125000,3번째 FA,이적,0,0,106.8,0.580,0.349,0.929,1058,1189,1009,대구,8,0,0.52,0.13,7.59,-6.94,0.65,9.0,4.0,4.0,2.0,강민호,37.0,0,0,1,29,34,64,77,187,1,8번 타순,90000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2015,28,144,596,534,95,155,41,2,4,26,97,11,10,48,122,14,6,2.45,31000,고졸,잔류,0,0,109.8,0.650,0.350,1.000,1050,1107,1048,부산,5,0,0.46,-0.25,11.56,-11.36,0.21,14.0,9.0,2.0,1.0,황재균,42.0,49,39,411,18,0,11,48,17,3,3번 타순,220000.0
342,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2016,29,127,559,498,97,167,26,5,4,27,113,25,10,49,66,10,8,4.12,50000,고졸,이적,4,880000,128.2,0.687,0.394,1.081,1051,1135,1035,부산,5,0,4.38,0.14,14.27,-9.75,4.52,16.0,8.0,2.0,1.0,황재균,42.0,0,0,91,341,68,9,46,2,2,4번 타순,220000.0
343,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,고졸,이적,0,0,127.0,0.554,0.357,0.911,1006,948,1019,수원,5,0,1.95,0.12,10.99,-8.92,2.07,15.0,4.0,1.0,0.0,황재균,26.0,25,115,3,12,28,216,103,1,4,6번 타순,150000.0
344,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,고졸,이적,0,0,129.5,0.625,0.370,0.995,1012,978,1018,수원,5,0,3.62,0.12,13.38,-9.64,3.73,12.0,6.0,3.0,0.0,황재균,33.0,7,418,4,0,31,98,34,6,2,2번 타순,150000.0
345,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,고졸,잔류,4,600000,107.9,0.464,0.358,0.822,1024,987,1017,수원,5,0,-0.49,0.10,8.61,-9.00,-0.39,7.0,1.0,2.0,0.0,황재균,15.0,37,389,19,17,7,32,0,4,2,2번 타순,150000.0

In [125]:
df = df[['FA년도','선수명_수정', '포지션','타', 'FA등급', '플레이년도', '나이',
       '게임수', '타석수', '타수', '득점', '안타', '2루타','사구', '홈런', '타점', '볼넷', '삼진', '병살타', '공격WAR', '연봉',
      'wRC+', '장타율', '출루율', 'OPS', '구단지역', '국대출전횟수', '원클럽맨여부',
       '3번 타순', '4번 타순', '5번 타순','메인 타순','1년당 계약 총액']]

In [127]:
df1 = df1[['FA년도','선수명_수정', '포지션','타', 'FA등급', '플레이년도', '나이',
       '게임수', '타석수', '타수', '득점', '안타', '2루타','사구', '홈런', '타점', '볼넷', '삼진', '병살타', '공격WAR', '연봉',
      'wRC+', '장타율', '출루율', 'OPS', '구단지역', '국대출전횟수', '원클럽맨여부',
       '3번 타순', '4번 타순', '5번 타순','메인 타순','1년당 계약 총액']]

In [129]:
concat = pd.concat([df,df1], axis = 0)
concat

,FA년도,선수명_수정,포지션,타,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,사구,홈런,타점,볼넷,삼진,병살타,공격WAR,연봉,wRC+,장타율,출루율,OPS,구단지역,국대출전횟수,원클럽맨여부,3번 타순,4번 타순,5번 타순,메인 타순,1년당 계약 총액
0,2014,강민호,C,우타,A,2010,25,117,465,410,66,125,19,8,23,72,42,65,16,3.67,13500,134.4,0.629,0.376,1.005,부산,8,0,0,4,104,6번 타순,187500.0
1,2014,강민호,C,우타,A,2011,26,124,506,450,63,130,25,8,19,66,47,81,18,3.90,20000,130.3,0.582,0.366,0.948,부산,8,0,0,0,189,6번 타순,187500.0
2,2014,강민호,C,우타,A,2012,27,119,454,400,41,109,21,8,19,66,44,97,9,3.76,30000,132.9,0.568,0.355,0.923,부산,8,0,0,160,91,6번 타순,187500.0
3,2014,강민호,C,우타,A,2013,28,105,405,327,48,77,13,11,11,57,60,87,5,1.75,55000,99.2,0.450,0.366,0.816,부산,8,0,0,194,56,4번 타순,187500.0
4,2016,고영민,2B,우타,A,2012,28,58,173,151,33,40,10,3,3,26,13,28,5,1.12,8000,112.7,0.497,0.335,0.832,서울,2,1,0,0,2,8번 타순,25000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,황재균,3B,우타,A,2015,28,144,596,534,95,155,41,4,26,97,48,122,14,2.45,31000,109.8,0.650,0.350,1.000,부산,5,0,411,18,0,3번 타순,220000.0
342,2017,황재균,3B,우타,A,2016,29,127,559,498,97,167,26,4,27,113,49,66,10,4.12,50000,128.2,0.687,0.394,1.081,부산,5,0,91,341,68,4번 타순,220000.0
343,2022,황재균,3B,우타,B,2019,32,124,507,448,78,127,16,2,20,67,52,71,10,3.80,120000,127.0,0.554,0.357,0.911,수원,5,0,3,12,28,6번 타순,150000.0
344,2022,황재균,3B,우타,B,2020,33,134,600,541,108,169,35,5,21,97,47,98,12,4.72,120000,129.5,0.625,0.370,0.995,수원,5,0,4,0,31,2번 타순,150000.0
345,2022,황재균,3B,우타,B,2021,34,117,507,453,74,132,16,3,10,56,46,92,11,2.41,80000,107.9,0.464,0.358,0.822,수원,5,0,19,17,7,2번 타순,150000.0

In [131]:
concat['메인 타순'] = concat['메인 타순'].str.extract('(\d+)').astype(float)
concat['선수명'] = concat['선수명_수정']
concat = concat.drop('선수명_수정', axis = 1)

In [133]:
concat

,FA년도,포지션,타,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,사구,홈런,타점,볼넷,삼진,병살타,공격WAR,연봉,wRC+,장타율,출루율,OPS,구단지역,국대출전횟수,원클럽맨여부,3번 타순,4번 타순,5번 타순,메인 타순,1년당 계약 총액,선수명
0,2014,C,우타,A,2010,25,117,465,410,66,125,19,8,23,72,42,65,16,3.67,13500,134.4,0.629,0.376,1.005,부산,8,0,0,4,104,6.0,187500.0,강민호
1,2014,C,우타,A,2011,26,124,506,450,63,130,25,8,19,66,47,81,18,3.90,20000,130.3,0.582,0.366,0.948,부산,8,0,0,0,189,6.0,187500.0,강민호
2,2014,C,우타,A,2012,27,119,454,400,41,109,21,8,19,66,44,97,9,3.76,30000,132.9,0.568,0.355,0.923,부산,8,0,0,160,91,6.0,187500.0,강민호
3,2014,C,우타,A,2013,28,105,405,327,48,77,13,11,11,57,60,87,5,1.75,55000,99.2,0.450,0.366,0.816,부산,8,0,0,194,56,4.0,187500.0,강민호
4,2016,2B,우타,A,2012,28,58,173,151,33,40,10,3,3,26,13,28,5,1.12,8000,112.7,0.497,0.335,0.832,서울,2,1,0,0,2,8.0,25000.0,고영민
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,3B,우타,A,2015,28,144,596,534,95,155,41,4,26,97,48,122,14,2.45,31000,109.8,0.650,0.350,1.000,부산,5,0,411,18,0,3.0,220000.0,황재균
342,2017,3B,우타,A,2016,29,127,559,498,97,167,26,4,27,113,49,66,10,4.12,50000,128.2,0.687,0.394,1.081,부산,5,0,91,341,68,4.0,220000.0,황재균
343,2022,3B,우타,B,2019,32,124,507,448,78,127,16,2,20,67,52,71,10,3.80,120000,127.0,0.554,0.357,0.911,수원,5,0,3,12,28,6.0,150000.0,황재균
344,2022,3B,우타,B,2020,33,134,600,541,108,169,35,5,21,97,47,98,12,4.72,120000,129.5,0.625,0.370,0.995,수원,5,0,4,0,31,2.0,150000.0,황재균
345,2022,3B,우타,B,2021,34,117,507,453,74,132,16,3,10,56,46,92,11,2.41,80000,107.9,0.464,0.358,0.822,수원,5,0,19,17,7,2.0,150000.0,황재균

In [141]:
concat = concat.drop('선수명', axis=1)

In [143]:
categorical_cols = concat.select_dtypes(include='object').columns.tolist()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

X_ohe = ohe.fit_transform(concat[categorical_cols])

ohe_cols = ohe.get_feature_names_out(categorical_cols)

df_ohe = pd.DataFrame(X_ohe, columns=ohe_cols, index=concat.index)

df_final = pd.concat([concat.drop(columns=categorical_cols), df_ohe], axis=1)

In [145]:
df_final

,FA년도,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,사구,홈런,타점,볼넷,삼진,병살타,공격WAR,연봉,wRC+,장타율,출루율,OPS,국대출전횟수,원클럽맨여부,3번 타순,4번 타순,5번 타순,메인 타순,1년당 계약 총액,포지션_1B,포지션_2B,포지션_3B,포지션_C,포지션_CF,포지션_DH,포지션_LF,포지션_RF,포지션_SS,타_우타,타_좌타,FA등급_A,FA등급_B,FA등급_C,FA등급_다년계약,구단지역_광주,구단지역_대구,구단지역_대전,구단지역_부산,구단지역_서울,구단지역_수원,구단지역_인천,구단지역_창원
0,2014,2010,25,117,465,410,66,125,19,8,23,72,42,65,16,3.67,13500,134.4,0.629,0.376,1.005,8,0,0,4,104,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2014,2011,26,124,506,450,63,130,25,8,19,66,47,81,18,3.90,20000,130.3,0.582,0.366,0.948,8,0,0,0,189,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2014,2012,27,119,454,400,41,109,21,8,19,66,44,97,9,3.76,30000,132.9,0.568,0.355,0.923,8,0,0,160,91,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2014,2013,28,105,405,327,48,77,13,11,11,57,60,87,5,1.75,55000,99.2,0.450,0.366,0.816,8,0,0,194,56,4.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2016,2012,28,58,173,151,33,40,10,3,3,26,13,28,5,1.12,8000,112.7,0.497,0.335,0.832,2,1,0,0,2,8.0,25000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,2015,28,144,596,534,95,155,41,4,26,97,48,122,14,2.45,31000,109.8,0.650,0.350,1.000,5,0,411,18,0,3.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
342,2017,2016,29,127,559,498,97,167,26,4,27,113,49,66,10,4.12,50000,128.2,0.687,0.394,1.081,5,0,91,341,68,4.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
343,2022,2019,32,124,507,448,78,127,16,2,20,67,52,71,10,3.80,120000,127.0,0.554,0.357,0.911,5,0,3,12,28,6.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
344,2022,2020,33,134,600,541,108,169,35,5,21,97,47,98,12,4.72,120000,129.5,0.625,0.370,0.995,5,0,4,0,31,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
345,2022,2021,34,117,507,453,74,132,16,3,10,56,46,92,11,2.41,80000,107.9,0.464,0.358,0.822,5,0,19,17,7,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [159]:
a1 = df_final[df_final['FA년도'] < 2023]
a2 = df_final[df_final['FA년도'] >= 2023]

In [161]:
a1.reset_index()

,index,FA년도,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,사구,홈런,타점,볼넷,삼진,병살타,공격WAR,연봉,wRC+,장타율,출루율,OPS,국대출전횟수,원클럽맨여부,3번 타순,4번 타순,5번 타순,메인 타순,1년당 계약 총액,포지션_1B,포지션_2B,포지션_3B,포지션_C,포지션_CF,포지션_DH,포지션_LF,포지션_RF,포지션_SS,타_우타,타_좌타,FA등급_A,FA등급_B,FA등급_C,FA등급_다년계약,구단지역_광주,구단지역_대구,구단지역_대전,구단지역_부산,구단지역_서울,구단지역_수원,구단지역_인천,구단지역_창원
0,0,2014,2010,25,117,465,410,66,125,19,8,23,72,42,65,16,3.67,13500,134.4,0.629,0.376,1.005,8,0,0,4,104,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,2014,2011,26,124,506,450,63,130,25,8,19,66,47,81,18,3.90,20000,130.3,0.582,0.366,0.948,8,0,0,0,189,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2014,2012,27,119,454,400,41,109,21,8,19,66,44,97,9,3.76,30000,132.9,0.568,0.355,0.923,8,0,0,160,91,6.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,2014,2013,28,105,405,327,48,77,13,11,11,57,60,87,5,1.75,55000,99.2,0.450,0.366,0.816,8,0,0,194,56,4.0,187500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,2016,2012,28,58,173,151,33,40,10,3,3,26,13,28,5,1.12,8000,112.7,0.497,0.335,0.832,2,1,0,0,2,8.0,25000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,341,2017,2015,28,144,596,534,95,155,41,4,26,97,48,122,14,2.45,31000,109.8,0.650,0.350,1.000,5,0,411,18,0,3.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
414,342,2017,2016,29,127,559,498,97,167,26,4,27,113,49,66,10,4.12,50000,128.2,0.687,0.394,1.081,5,0,91,341,68,4.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
415,343,2022,2019,32,124,507,448,78,127,16,2,20,67,52,71,10,3.80,120000,127.0,0.554,0.357,0.911,5,0,3,12,28,6.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
416,344,2022,2020,33,134,600,541,108,169,35,5,21,97,47,98,12,4.72,120000,129.5,0.625,0.370,0.995,5,0,4,0,31,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
417,345,2022,2021,34,117,507,453,74,132,16,3,10,56,46,92,11,2.41,80000,107.9,0.464,0.358,0.822,5,0,19,17,7,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [163]:
a2.reset_index()

,index,FA년도,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,사구,홈런,타점,볼넷,삼진,병살타,공격WAR,연봉,wRC+,장타율,출루율,OPS,국대출전횟수,원클럽맨여부,3번 타순,4번 타순,5번 타순,메인 타순,1년당 계약 총액,포지션_1B,포지션_2B,포지션_3B,포지션_C,포지션_CF,포지션_DH,포지션_LF,포지션_RF,포지션_SS,타_우타,타_좌타,FA등급_A,FA등급_B,FA등급_C,FA등급_다년계약,구단지역_광주,구단지역_대구,구단지역_대전,구단지역_부산,구단지역_서울,구단지역_수원,구단지역_인천,구단지역_창원
0,6,2024,2020,29,34,122,105,13,32,3,0,1,10,11,24,3,0.72,12000,93.7,0.400,0.368,0.768,0,0,0,0,0,7.0,15000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,2024,2021,30,124,258,223,25,58,5,0,0,27,29,58,5,0.15,12000,71.3,0.305,0.341,0.646,0,0,0,3,26,6.0,15000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8,2024,2022,31,94,252,226,31,73,12,0,1,26,20,48,2,1.64,10000,115.3,0.460,0.375,0.835,0,0,0,22,11,2.0,15000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,2024,2023,32,72,240,212,30,46,7,0,0,10,20,54,4,-0.66,15000,48.9,0.311,0.282,0.593,0,0,0,4,28,6.0,15000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10,2024,2020,31,92,288,272,24,77,9,1,3,26,14,55,3,-0.17,17000,75.0,0.426,0.319,0.745,0,0,8,2,44,2.0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,293,2023,2021,31,110,448,387,59,107,20,16,16,82,38,80,9,2.54,32000,128.9,0.545,0.359,0.904,0,0,10,353,74,4.0,150000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
93,294,2023,2022,32,126,526,467,48,138,26,21,12,83,27,88,16,2.13,30000,128.1,0.522,0.354,0.876,0,0,0,475,44,4.0,150000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
94,324,2024,2021,38,104,446,373,52,87,15,4,12,55,67,67,9,1.07,90000,105.8,0.450,0.354,0.804,1,0,209,233,1,4.0,110000.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,325,2024,2022,39,132,530,454,55,120,27,1,14,71,73,92,9,2.47,90000,125.9,0.513,0.366,0.879,1,0,5,138,203,5.0,110000.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,326,2024,2023,40,121,508,431,64,130,27,8,17,81,65,83,5,4.11,90000,159.4,0.592,0.400,0.992,1,0,0,440,60,4.0,110000.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
a1.to_csv('머신러닝_4차_2013~2022.csv', index = False)
a2.to_csv('머신러닝_4차_2023~2024.csv', index = False)