In [33]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("model/regression_prediction_5th_knn_tuning.csv")

In [37]:
df1 = pd.read_csv("model/regression_prediction_5th_hardvoting_tuning.csv")

In [39]:
df2 = pd.read_csv("model/regression_prediction_5th_lgbm_tuning.csv")

In [41]:
a1 = pd.read_csv('머신러닝_5차_2017~2024_선수명포함.csv')

In [43]:
a1 = a1[a1['FA년도']== 2024]
a1 = a1.reset_index()
a1

,index,FA년도,포지션,타,FA등급,플레이년도,나이,게임수,타석수,타수,...,국대출전횟수,원클럽맨여부,타격 WPA,WPA+,WPA-,WPA,홈런기여점수,메인 타순,1년당 계약 총액,선수명
0,6,2024,SS,좌타,C,2020,29,34,122,105,...,0,0,0,2,-2,0,2,7,"15,000",강한울
1,7,2024,SS,좌타,C,2021,30,124,258,223,...,0,0,-0,4,-4,-0,0,6,"15,000",강한울
2,8,2024,3B,좌타,C,2022,31,94,252,226,...,0,0,-1,4,-5,-1,3,2,"15,000",강한울
3,9,2024,3B,좌타,C,2023,32,72,240,212,...,0,0,-2,3,-5,-2,0,6,"15,000",강한울
4,10,2024,LF,좌타,C,2020,31,92,288,272,...,0,0,-0,4,-5,-0,4,2,"25,000",고종욱
5,11,2024,LF,좌타,C,2021,32,88,199,180,...,0,0,-0,4,-4,-0,3,1,"25,000",고종욱
6,12,2024,DH,좌타,C,2022,33,62,114,106,...,0,0,1,3,-2,1,3,2,"25,000",고종욱
7,13,2024,LF,좌타,C,2023,34,114,286,270,...,0,0,0,6,-6,0,7,2,"25,000",고종욱
8,29,2024,3B,우타,B,2021,33,121,426,360,...,1,0,-1,7,-7,-1,12,6,"30,000",김민성
9,30,2024,3B,우타,B,2022,34,92,157,140,...,1,0,-0,2,-2,-0,8,9,"30,000",김민성
10,31,2024,2B,우타,B,2023,35,112,316,273,...,1,0,-1,5,-6,-1,15,6,"30,000",김민성
11,32,2024,C,좌타,C,2020,31,69,238,211,...,0,0,-0,4,-4,-0,3,5,"25,000",김민식
12,33,2024,C,좌타,C,2021,32,100,301,250,...,0,0,-0,5,-5,-0,6,7,"25,000",김민식
13,34,2024,C,좌타,C,2022,33,104,266,222,...,0,0,-1,3,-4,-1,3,8,"25,000",김민식
14,35,2024,C,좌타,C,2023,34,122,318,266,...,0,0,-1,5,-6,-1,7,9,"25,000",김민식
15,47,2024,2B,우타,B,2021,32,130,564,501,...,0,1,3,12,-8,3,8,2,"70,000",김선빈
16,48,2024,2B,우타,B,2022,33,140,587,505,...,0,1,1,12,-10,1,5,2,"70,000",김선빈
17,49,2024,2B,우타,B,2023,34,119,473,419,...,0,1,1,9,-8,1,0,3,"70,000",김선빈
18,53,2024,SS,우타,다년계약,2020,33,133,392,343,...,0,1,-1,5,-6,-1,2,9,"20,000",김성현
19,54,2024,SS,우타,다년계약,2021,34,110,274,237,...,0,1,1,6,-4,-1,11,9,"20,000",김성현
20,55,2024,2B,우타,다년계약,2022,35,130,359,302,...,0,1,-0,5,-6,-0,7,9,"20,000",김성현
21,56,2024,2B,우타,다년계약,2023,36,112,354,310,...,0,1,-1,6,-7,-1,1,7,"20,000",김성현
22,79,2024,C,우타,다년계약,2021,32,102,276,232,...,1,0,-0,4,-5,-0,10,8,"83,333",김태군
23,80,2024,C,우타,다년계약,2022,33,102,235,205,...,1,0,-0,4,-5,-0,2,6,"83,333",김태군
24,81,2024,C,우타,다년계약,2023,34,114,346,311,...,1,0,-1,3,-4,-1,1,8,"83,333",김태군
25,167,2024,2B,우타,B,2021,31,119,490,421,...,1,0,2,9,-8,1,15,5,"137,500",안치홍
26,168,2024,2B,우타,B,2022,32,132,562,493,...,1,0,1,10,-9,1,21,1,"137,500",안치홍
27,169,2024,2B,우타,B,2023,33,121,494,425,...,1,0,2,10,-8,2,12,3,"137,500",안치홍
28,170,2024,1B,우타,A,2020,29,40,132,118,...,0,0,-1,2,-2,-1,5,7,"130,000",양석환
29,171,2024,3B,우타,A,2021,30,133,546,488,...,0,0,2,11,-9,2,54,5,"130,000",양석환
30,172,2024,1B,우타,A,2022,31,107,446,405,...,0,0,-0,7,-8,-0,28,5,"130,000",양석환
31,173,2024,1B,우타,A,2023,32,140,582,524,...,0,0,2,11,-10,2,36,3,"130,000",양석환
32,196,2024,SS,좌타,B,2021,31,134,532,464,...,3,1,-0,9,-9,-0,13,2,"206,667",오지환
33,197,2024,SS,좌타,B,2022,32,142,569,494,...,3,1,2,12,-9,3,42,5,"206,667",오지환
34,198,2024,SS,좌타,B,2023,33,126,502,422,...,3,1,2,11,-9,2,10,5,"206,667",오지환
35,234,2024,3B,우타,다년계약,2021,35,131,480,399,...,0,0,-1,7,-8,-0,19,6,"33,333",이원석
36,235,2024,3B,우타,다년계약,2022,36,88,335,288,...,0,0,1,7,-6,1,18,5,"33,333",이원석
37,236,2024,3B,우타,다년계약,2023,37,89,345,305,...,0,0,-1,5,-5,-1,2,4,"33,333",이원석
38,248,2024,C,우타,B,2021,35,108,258,233,...,1,0,-1,3,-4,-1,0,8,"20,000",이지영
39,249,2024,C,우타,B,2022,36,137,450,420,...,1,0,-2,8,-9,-2,3,8,"20,000",이지영
40,250,2024,C,우타,B,2023,37,81,237,217,...,1,0,-3,3,-5,-3,0,8,"20,000",이지영
41,262,2024,LF,우타,B,2021,35,144,619,552,...,1,1,4,13,-9,4,10,3,"117,500",전준우
42,263,2024,LF,우타,B,2022,36,120,517,470,...,1,1,1,10,-9,1,21,4,"117,500",전준우
43,264,2024,DH,우타,B,2023,37,138,559,493,...,1,1,2,12,-10,3,29,4,"117,500",전준우
44,324,2024,DH,좌타,다년계약,2021,38,104,446,373,...,1,0,1,9,-7,1,21,4,"110,000",최형우
45,325,2024,DH,좌타,다년계약,2022,39,132,530,454,...,1,0,1,11,-10,1,22,5,"110,000",최형우
46,326,2024,DH,좌타,다년계약,2023,40,121,508,431,...,1,0,4,12,-8,4,32,4,"110,000",최형우

In [45]:
a1 = a1[['선수명', '1년당 계약 총액']]
a1

    선수명  1년당 계약 총액
0   강한울     15,000
1   강한울     15,000
2   강한울     15,000
3   강한울     15,000
4   고종욱     25,000
5   고종욱     25,000
6   고종욱     25,000
7   고종욱     25,000
8   김민성     30,000
9   김민성     30,000
10  김민성     30,000
11  김민식     25,000
12  김민식     25,000
13  김민식     25,000
14  김민식     25,000
15  김선빈     70,000
16  김선빈     70,000
17  김선빈     70,000
18  김성현     20,000
19  김성현     20,000
20  김성현     20,000
21  김성현     20,000
22  김태군     83,333
23  김태군     83,333
24  김태군     83,333
25  안치홍    137,500
26  안치홍    137,500
27  안치홍    137,500
28  양석환    130,000
29  양석환    130,000
30  양석환    130,000
31  양석환    130,000
32  오지환    206,667
33  오지환    206,667
34  오지환    206,667
35  이원석     33,333
36  이원석     33,333
37  이원석     33,333
38  이지영     20,000
39  이지영     20,000
40  이지영     20,000
41  전준우    117,500
42  전준우    117,500
43  전준우    117,500
44  최형우    110,000
45  최형우    110,000
46  최형우    110,000

In [47]:
df = pd.concat([df,a1], axis = 1)

In [49]:
df1 = pd.concat([df1,a1], axis = 1)

In [51]:
df2 = pd.concat([df2,a1], axis = 1)

In [53]:
pd.options.display.float_format = '{:,.0f}'.format
# print(df1['1년당 계약 총액'])

In [55]:
# KNN_Tuning
player_fa_avg = df.groupby('선수명')['1년당 계약 총액'].mean().reset_index()

player_fa_avg

    선수명  1년당 계약 총액  1년당 계약 총액
0   강한울     20,000     15,000
1   고종욱     30,417     25,000
2   김민성     81,944     30,000
3   김민식     77,083     25,000
4   김선빈     99,722     70,000
5   김성현     71,389     20,000
6   김태군     77,500     83,333
7   안치홍    118,944    137,500
8   양석환    113,958    130,000
9   오지환     93,519    206,667
10  이원석     80,278     33,333
11  이지영    115,556     20,000
12  전준우    104,815    117,500
13  최형우    162,963    110,000

In [57]:
# hardvoting_tuning
player_fa_avg = df1.groupby('선수명')['1년당 계약 총액'].mean().reset_index()

player_fa_avg

    선수명  1년당 계약 총액  1년당 계약 총액
0   강한울     35,852     15,000
1   고종욱     38,103     25,000
2   김민성     72,588     30,000
3   김민식     47,501     25,000
4   김선빈     84,591     70,000
5   김성현     46,290     20,000
6   김태군     94,893     83,333
7   안치홍    111,009    137,500
8   양석환    120,172    130,000
9   오지환    152,053    206,667
10  이원석     74,418     33,333
11  이지영     83,003     20,000
12  전준우    111,481    117,500
13  최형우    126,087    110,000

In [59]:
# lgbm_tuning
player_fa_avg = df2.groupby('선수명')['1년당 계약 총액'].mean().reset_index()

player_fa_avg

    선수명  1년당 계약 총액  1년당 계약 총액
0   강한울     22,849     15,000
1   고종욱     30,835     25,000
2   김민성     82,667     30,000
3   김민식     21,842     25,000
4   김선빈    109,560     70,000
5   김성현     27,651     20,000
6   김태군     79,243     83,333
7   안치홍    109,272    137,500
8   양석환    133,080    130,000
9   오지환    189,339    206,667
10  이원석     67,415     33,333
11  이지영     76,813     20,000
12  전준우    114,371    117,500
13  최형우    142,058    110,000