In [29]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [75]:
df = pd.read_csv('2013~2016_FA_4년정보.csv')
df1 = pd.read_csv('2017~2024_FA_4년정보.csv')
df1

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,선수명_수정,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순,1년당 계약 총액
0,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2015,30,123,456,380,63,118,18,1,14,35,86,0,0,60,112,14,2,5.80,100000,고졸,잔류,0,0,163.0,0.782,0.421,1.203,1050,1107,1048,부산,8,0,4.46,0.13,11.08,-6.49,4.59,19.0,10.0,2.0,4.0,강민호,61.0,0,1,0,5,228,193,23,4,2,5번 타순,200000.0
1,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2016,31,116,460,381,65,123,26,0,10,20,72,4,0,66,91,7,3,4.93,100000,고졸,잔류,0,0,142.2,0.669,0.433,1.102,1051,1135,1035,부산,8,0,5.02,0.10,11.59,-6.47,5.12,11.0,4.0,4.0,1.0,강민호,35.0,0,1,1,0,184,259,8,1,6,6번 타순,200000.0
2,2018,롯데,강민호(2015),C,우투,우타,재자격,A,2017,32,130,515,456,62,130,22,1,15,22,68,0,2,41,104,15,3,3.43,100000,고졸,이적,4,800000,107.3,0.581,0.361,0.942,1048,1095,1025,부산,8,0,1.14,-0.03,10.46,-9.34,1.11,11.0,6.0,5.0,0.0,강민호,38.0,0,0,0,0,236,239,23,7,10,6번 타순,200000.0
3,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2019,34,112,393,346,36,81,20,0,9,13,45,0,0,33,76,9,3,1.83,125000,3번째 FA,이적,0,0,91.6,0.500,0.315,0.815,1068,1161,1019,대구,8,0,0.41,0.06,6.61,-6.14,0.47,6.0,4.0,3.0,0.0,강민호,23.0,0,1,0,12,71,68,81,155,5,8번 타순,90000.0
4,2022,삼성,강민호(2019),C,우투,우타,재자격,C,2020,35,119,393,355,46,102,14,0,4,19,61,0,0,31,54,17,3,2.38,125000,3번째 FA,이적,0,0,106.8,0.580,0.349,0.929,1058,1189,1009,대구,8,0,0.52,0.13,7.59,-6.94,0.65,9.0,4.0,4.0,2.0,강민호,37.0,0,0,1,29,34,64,77,187,1,8번 타순,90000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2015,28,144,596,534,95,155,41,2,4,26,97,11,10,48,122,14,6,2.45,31000,고졸,잔류,0,0,109.8,0.650,0.350,1.000,1050,1107,1048,부산,5,0,0.46,-0.25,11.56,-11.36,0.21,14.0,9.0,2.0,1.0,황재균,42.0,49,39,411,18,0,11,48,17,3,3번 타순,220000.0
342,2017,롯데,황재균(2014),3B,우투,우타,신규,A,2016,29,127,559,498,97,167,26,5,4,27,113,25,10,49,66,10,8,4.12,50000,고졸,이적,4,880000,128.2,0.687,0.394,1.081,1051,1135,1035,부산,5,0,4.38,0.14,14.27,-9.75,4.52,16.0,8.0,2.0,1.0,황재균,42.0,0,0,91,341,68,9,46,2,2,4번 타순,220000.0
343,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,고졸,이적,0,0,127.0,0.554,0.357,0.911,1006,948,1019,수원,5,0,1.95,0.12,10.99,-8.92,2.07,15.0,4.0,1.0,0.0,황재균,26.0,25,115,3,12,28,216,103,1,4,6번 타순,150000.0
344,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,고졸,이적,0,0,129.5,0.625,0.370,0.995,1012,978,1018,수원,5,0,3.62,0.12,13.38,-9.64,3.73,12.0,6.0,3.0,0.0,황재균,33.0,7,418,4,0,31,98,34,6,2,2번 타순,150000.0
345,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,고졸,잔류,4,600000,107.9,0.464,0.358,0.822,1024,987,1017,수원,5,0,-0.49,0.10,8.61,-9.00,-0.39,7.0,1.0,2.0,0.0,황재균,15.0,37,389,19,17,7,32,0,4,2,2번 타순,150000.0

In [49]:
df1.columns

Index(['FA년도', '구단명', '선수명', '포지션', '투', '타', '구분', 'FA등급', '플레이년도', '나이',
       '게임수', '타석수', '타수', '득점', '안타', '2루타', '3루타', '사구', '홈런', '타점', '도루성공',
       '도루실패', '볼넷', '삼진', '병살타', '희생플라이', '공격WAR', '연봉', '비고', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액', 'wRC+', '장타율', '출루율', 'OPS', '득점파크팩터', '홈런파크팩터',
       '장타파크팩터', '구단지역', '국대출전횟수', '원클럽맨여부', '타격 WPA', '주루 WPA', 'WPA+',
       'WPA-', 'WPA', '1점 홈런', '2점 홈런 ', '3점 홈런', '만루 홈런', '선수명_수정', '홈런기여점수',
       '1번 타순', '2번 타순', '3번 타순', '4번 타순', '5번 타순', '6번 타순', '7번 타순', '8번 타순',
       '9번 타순', '메인 타순', '1년당 계약 총액'],
      dtype='object')

In [77]:
df1[df1['선수명_수정']=='이성열']

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,선수명_수정,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순,1년당 계약 총액
220,2020,한화,이성열(2016),DH,우투,좌타,재자격,A,2016,32,86,219,198,29,57,7,3,8,10,29,0,0,11,62,3,0,0.84,11000,고졸,트레이드,0,0,109.3,0.606,0.350,0.956,1010,1047,991,대전,0,0,4.52,-3.98,0.54,1.40,0.22,8.0,2.0,0.0,0.0,이성열,12.0,3,15,45,2,52,26,25,33,18,5번 타순,70000.0
221,2020,한화,이성열(2016),DH,우투,좌타,재자격,A,2017,33,81,318,280,41,86,16,1,9,21,65,3,0,19,80,0,5,2.28,25000,고졸,트레이드,0,0,133.6,0.732,0.364,1.096,1001,1031,989,대전,0,0,7.32,-4.95,2.37,3.14,0.68,15.0,4.0,2.0,0.0,이성열,29.0,0,0,35,12,135,99,36,1,0,5번 타순,70000.0
222,2020,한화,이성열(2016),DH,우투,좌타,재자격,A,2018,34,131,528,485,76,143,21,1,5,34,102,9,7,35,143,9,2,2.05,23000,고졸,트레이드,0,0,115.8,0.668,0.347,1.015,1002,1059,990,대전,0,0,12.82,-9.67,3.15,2.69,1.87,15.0,10.0,8.0,1.0,이성열,63.0,0,0,85,34,262,141,3,3,0,5번 타순,70000.0
223,2020,한화,이성열(2016),RF,우투,좌타,재자격,A,2019,35,129,476,414,60,106,21,1,9,21,85,8,4,48,114,7,4,2.47,25000,고졸,잔류,2,140000,126.2,0.568,0.343,0.911,983,1013,990,대전,0,0,10.49,-8.78,1.72,1.76,0.45,13.0,4.0,3.0,1.0,이성열,34.0,1,2,1,209,137,117,6,1,2,4번 타순,70000.0

In [197]:
# 1년당 계약 총액 계산: 계약 총액 / 계약 연수
df['1년당 계약 총액'] = df['FA 계약 총액'] / df['FA 계약 연수']

# 선수명 기준으로 마지막 행(=유일하게 계약총액이 있는 행)의 값을 전체에 채움
df['1년당 계약 총액'] = df.groupby('선수명')['1년당 계약 총액'].transform('max')

In [199]:
# 1년당 계약 총액 계산: 계약 총액 / 계약 연수
df1['1년당 계약 총액'] = df1['FA 계약 총액'] / df1['FA 계약 연수']

# 선수명 기준으로 마지막 행(=유일하게 계약총액이 있는 행)의 값을 전체에 채움
df1['1년당 계약 총액'] = df1.groupby('선수명')['1년당 계약 총액'].transform('max')

In [195]:
df1[df1['선수명_수정'] =='최형우']

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,선수명_수정,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순
317,2017,삼성,최형우(2014),LF,우투,좌타,신규,A,2013,30,128,573,511,80,156,28,0,7,29,98,2,1,47,91,5,8,5.04,19000,고졸,잔류,0,0,136.3,0.642,0.366,1.008,1005,1054,984,대구,1,0,3.35,0.10,11.95,-8.49,3.45,19.0,7.0,3.0,0.0,최형우,42.0,0,0,0,247,326,0,0,0,0,5번 타순
318,2017,삼성,최형우(2014),LF,우투,좌타,신규,A,2014,31,113,493,430,92,153,33,0,7,31,100,4,2,50,62,11,6,5.25,28000,고졸,잔류,0,0,167.3,0.798,0.426,1.224,993,1030,977,대구,1,0,3.82,0.13,10.92,-6.97,3.95,15.0,13.0,3.0,0.0,최형우,50.0,0,0,0,0,492,0,1,0,0,5번 타순
319,2017,삼성,최형우(2014),LF,우투,좌타,신규,A,2015,32,144,637,547,94,174,33,1,9,33,123,2,5,73,101,13,8,4.78,45000,고졸,잔류,0,0,144.1,0.686,0.402,1.088,989,1034,993,대구,1,0,3.47,-0.14,13.54,-10.20,3.34,16.0,12.0,4.0,1.0,최형우,56.0,0,0,0,0,637,0,0,0,0,5번 타순
320,2017,삼성,최형우(2014),LF,우투,좌타,신규,A,2016,33,138,618,519,99,195,46,2,9,31,144,2,2,83,83,12,7,7.48,60000,고졸,이적,4,1000000,172.7,0.803,0.464,1.267,1040,1128,1019,대구,1,0,5.56,0.21,14.42,-8.66,5.77,15.0,10.0,4.0,2.0,최형우,55.0,0,0,0,617,1,0,0,0,0,4번 타순
321,2021,KIA,최형우(2018),LF,우투,좌타,재자격,B,2018,35,143,609,528,92,179,34,1,7,25,103,3,0,66,87,17,8,4.64,150000,고졸,이적,0,0,142.9,0.663,0.414,1.077,997,996,1003,광주,1,0,5.42,0.38,14.58,-8.78,5.80,16.0,5.0,3.0,1.0,최형우,39.0,0,0,256,349,0,3,0,0,1,4번 타순
322,2021,KIA,최형우(2018),DH,우투,좌타,재자격,B,2019,36,136,555,456,65,137,31,1,7,17,86,0,1,85,77,13,7,4.55,150000,고졸,이적,0,0,152.8,0.592,0.413,1.005,1009,977,1001,광주,1,0,2.92,0.05,11.79,-8.81,2.98,6.0,6.0,4.0,1.0,최형우,34.0,0,0,0,552,0,0,2,1,0,4번 타순
323,2021,KIA,최형우(2018),DH,우투,좌타,재자격,B,2020,37,140,600,522,93,185,37,1,5,28,115,0,0,70,101,9,3,6.32,150000,고졸,잔류,3,470000,171.3,0.716,0.433,1.149,1008,997,995,광주,1,0,7.10,0.11,15.13,-7.93,7.20,12.0,9.0,6.0,1.0,최형우,52.0,0,0,309,273,17,0,0,0,1,3번 타순
324,2024,KIA,최형우(2020),DH,우투,좌타,다년계약,다년계약,2021,38,104,446,373,52,87,15,1,4,12,55,0,0,67,67,9,2,1.07,90000,다년계약,잔류,0,0,105.8,0.450,0.354,0.804,999,980,1001,광주,1,0,1.16,0.18,8.81,-7.46,1.35,4.0,7.0,1.0,0.0,최형우,21.0,0,0,209,233,1,1,1,1,0,4번 타순
325,2024,KIA,최형우(2020),DH,우투,좌타,다년계약,다년계약,2022,39,132,530,454,55,120,27,1,1,14,71,1,0,73,92,9,2,2.47,90000,다년계약,잔류,0,0,125.9,0.513,0.366,0.879,989,1013,1000,광주,1,0,0.89,0.17,11.18,-10.12,1.06,8.0,4.0,2.0,0.0,최형우,22.0,1,1,5,138,203,176,0,4,2,5번 타순
326,2024,KIA,최형우(2020),DH,우투,좌타,다년계약,다년계약,2023,40,121,508,431,64,130,27,1,8,17,81,0,0,65,83,5,4,4.11,90000,다년계약,잔류,2,220000,159.4,0.592,0.400,0.992,979,971,1009,광주,1,0,4.26,-0.06,12.33,-8.13,4.20,8.0,4.0,4.0,1.0,최형우,32.0,0,0,0,440,60,4,2,1,1,4번 타순

In [81]:
null = df.isna().sum()
null = null[null>0]
null

Series([], dtype: int64)

In [83]:
df = df.drop(['구단명', '선수명','FA 계약 연수','FA 계약 총액','선수명_수정','잔류 여부'], axis = 1)
df1 = df1.drop(['구단명', '선수명','FA 계약 연수','FA 계약 총액','선수명_수정','잔류 여부'], axis = 1)

In [85]:
df['메인 타순'] = df['메인 타순'].str.extract('(\d+)').astype(float)
df1['메인 타순'] = df1['메인 타순'].str.extract('(\d+)').astype(float)

In [87]:
categorical_cols = df.select_dtypes(include='object').columns.tolist()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

X_ohe = ohe.fit_transform(df[categorical_cols])

ohe_cols = ohe.get_feature_names_out(categorical_cols)

df_ohe = pd.DataFrame(X_ohe, columns=ohe_cols, index=df.index)

df_final = pd.concat([df.drop(columns=categorical_cols), df_ohe], axis=1)

In [89]:
categorical_cols1 = df1.select_dtypes(include='object').columns.tolist()
ohe1 = OneHotEncoder(sparse=False, handle_unknown='ignore')

X_ohe1 = ohe1.fit_transform(df1[categorical_cols1])

ohe1_cols = ohe1.get_feature_names_out(categorical_cols1)

df1_ohe = pd.DataFrame(X_ohe1, columns=ohe1_cols, index=df1.index)

df1_final = pd.concat([df1.drop(columns=categorical_cols1), df1_ohe], axis=1)

In [91]:
df1_final

,FA년도,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,국대출전횟수,원클럽맨여부,타격 WPA,주루 WPA,WPA+,WPA-,WPA,1점 홈런,2점 홈런,3점 홈런,만루 홈런,홈런기여점수,1번 타순,2번 타순,3번 타순,4번 타순,5번 타순,6번 타순,7번 타순,8번 타순,9번 타순,메인 타순,1년당 계약 총액,포지션_1B,포지션_2B,포지션_3B,포지션_C,포지션_CF,포지션_DH,포지션_LF,포지션_RF,포지션_SS,투_우투,투_좌투,타_우타,타_좌타,구분_다년계약,구분_신규,구분_자격유지,구분_재자격,FA등급_A,FA등급_B,FA등급_C,FA등급_다년계약,비고_22년 C등급,비고_2번째 FA,비고_35세 이상,비고_35세 이상 대졸,비고_35세 이상 해외복귀,비고_3번째 FA,비고_고졸,비고_다년계약,비고_대졸,구단지역_광주,구단지역_대구,구단지역_대전,구단지역_부산,구단지역_서울,구단지역_수원,구단지역_인천,구단지역_창원
0,2018,2015,30,123,456,380,63,118,18,1,14,35,86,0,0,60,112,14,2,5.80,100000,163.0,0.782,0.421,1.203,1050,1107,1048,8,0,4.46,0.13,11.08,-6.49,4.59,19.0,10.0,2.0,4.0,61.0,0,1,0,5,228,193,23,4,2,5.0,200000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2018,2016,31,116,460,381,65,123,26,0,10,20,72,4,0,66,91,7,3,4.93,100000,142.2,0.669,0.433,1.102,1051,1135,1035,8,0,5.02,0.10,11.59,-6.47,5.12,11.0,4.0,4.0,1.0,35.0,0,1,1,0,184,259,8,1,6,6.0,200000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2018,2017,32,130,515,456,62,130,22,1,15,22,68,0,2,41,104,15,3,3.43,100000,107.3,0.581,0.361,0.942,1048,1095,1025,8,0,1.14,-0.03,10.46,-9.34,1.11,11.0,6.0,5.0,0.0,38.0,0,0,0,0,236,239,23,7,10,6.0,200000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2022,2019,34,112,393,346,36,81,20,0,9,13,45,0,0,33,76,9,3,1.83,125000,91.6,0.500,0.315,0.815,1068,1161,1019,8,0,0.41,0.06,6.61,-6.14,0.47,6.0,4.0,3.0,0.0,23.0,0,1,0,12,71,68,81,155,5,8.0,90000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022,2020,35,119,393,355,46,102,14,0,4,19,61,0,0,31,54,17,3,2.38,125000,106.8,0.580,0.349,0.929,1058,1189,1009,8,0,0.52,0.13,7.59,-6.94,0.65,9.0,4.0,4.0,2.0,37.0,0,0,1,29,34,64,77,187,1,8.0,90000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2017,2015,28,144,596,534,95,155,41,2,4,26,97,11,10,48,122,14,6,2.45,31000,109.8,0.650,0.350,1.000,1050,1107,1048,5,0,0.46,-0.25,11.56,-11.36,0.21,14.0,9.0,2.0,1.0,42.0,49,39,411,18,0,11,48,17,3,3.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
342,2017,2016,29,127,559,498,97,167,26,5,4,27,113,25,10,49,66,10,8,4.12,50000,128.2,0.687,0.394,1.081,1051,1135,1035,5,0,4.38,0.14,14.27,-9.75,4.52,16.0,8.0,2.0,1.0,42.0,0,0,91,341,68,9,46,2,2,4.0,220000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
343,2022,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,127.0,0.554,0.357,0.911,1006,948,1019,5,0,1.95,0.12,10.99,-8.92,2.07,15.0,4.0,1.0,0.0,26.0,25,115,3,12,28,216,103,1,4,6.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
344,2022,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,129.5,0.625,0.370,0.995,1012,978,1018,5,0,3.62,0.12,13.38,-9.64,3.73,12.0,6.0,3.0,0.0,33.0,7,418,4,0,31,98,34,6,2,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
345,2022,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,107.9,0.464,0.358,0.822,1024,987,1017,5,0,-0.49,0.10,8.61,-9.00,-0.39,7.0,1.0,2.0,0.0,15.0,37,389,19,17,7,32,0,4,2,2.0,150000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [93]:
df_final.to_csv('머신러닝_2013~2016FA.csv', index = False)
df1_final.to_csv('머신러닝_2017~2024FA.csv', index = False)