- 학습용 데이터 2025년 FA 투수 추가

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import gc
import glob

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False


# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [3]:
# data_type = "train"
# month = "07"
# category = "잔액정보"

# local
root_path = '../../data'

# colab
# root_path = '/content/drive/MyDrive/12조 파이널프로젝트/data'

#drive_folder = f'{root_path}/스탯티즈_Raw_data/'

In [4]:
df1 = pd.read_csv(f'{root_path}/KBO FA 투수 [2013-2024]_최종_전처리_ver03.csv')
df2 = pd.read_csv(f'{root_path}/2025_FA_투수_데이터.csv', encoding='cp949')

In [5]:
print(df1.columns)
print(df2.columns)

Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '구분', 'FA등급', '플레이년도', '나이', '게임수',
       '선발등판', '구원등판', '승리', '패전', '세이브', '블론세이브', '홀드', '블론홀드', '이닝수', '자책점',
       '피안타', '2루타허용', '3루타허용', '피홈런', '볼넷허용', '사구허용', '탈삼진', '폭투', 'ERA',
       'FIP', '선발 이닝', '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1',
       '잔류 여부', 'FA 계약 연수', 'FA 계약 총액', '사사구', '완투', '완봉', '투구수', '피장타율',
       '원클럽맨여부', '득점파크팩터', '홈런파크팩터', '장타파크팩터', '국대출전횟수', '구종1', '구종2',
       '구종1 구종가치'],
      dtype='object')
Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '구분', 'FA등급', '플레이년도', '나이', '게임수',
       '선발등판', '구원등판', '승리', '패전', '세이브', '블론세이브', '홀드', '이닝수', '자책점', '피안타',
       '2루타허용', '3루타허용', '피홈런', '볼넷허용', '사구허용', '탈삼진', '폭투', 'ERA', 'FIP',
       '선발 이닝', '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액', '사사구', '완투', '완봉', '투구수', '피장타율', '원클럽맨여부',
       '국대출전횟수', 'AAV'],
      dtype='object')

In [6]:
df1 = df1[df2.columns.intersection(df1.columns)]  # 공통 컬럼만 남기기

In [7]:
df2 = df2[df1.columns.intersection(df2.columns)]  # 공통 컬럼만 남기기

In [8]:
print(df1.columns)
print(df2.columns)

Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '구분', 'FA등급', '플레이년도', '나이', '게임수',
       '선발등판', '구원등판', '승리', '패전', '세이브', '블론세이브', '홀드', '이닝수', '자책점', '피안타',
       '2루타허용', '3루타허용', '피홈런', '볼넷허용', '사구허용', '탈삼진', '폭투', 'ERA', 'FIP',
       '선발 이닝', '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액', '사사구', '완투', '완봉', '투구수', '피장타율', '원클럽맨여부',
       '국대출전횟수'],
      dtype='object')
Index(['FA년도', '구단명', '선수명', '세부 포지션', '투', '구분', 'FA등급', '플레이년도', '나이', '게임수',
       '선발등판', '구원등판', '승리', '패전', '세이브', '블론세이브', '홀드', '이닝수', '자책점', '피안타',
       '2루타허용', '3루타허용', '피홈런', '볼넷허용', '사구허용', '탈삼진', '폭투', 'ERA', 'FIP',
       '선발 이닝', '구원 이닝', '선발 WAR', '구원 WAR', '종합 WAR', '연봉', '비고1', '잔류 여부',
       'FA 계약 연수', 'FA 계약 총액', '사사구', '완투', '완봉', '투구수', '피장타율', '원클럽맨여부',
       '국대출전횟수'],
      dtype='object')

In [9]:
# 데이터프레임 합치기
df_all = pd.concat([df1, df2], ignore_index=True)

In [10]:
print(df_all.shape)  # (행, 열)
print(df_all['선수명'].value_counts().head(10))  # 혹시 중복 있는지 확인

(409, 46)
선수명
우규민    13
김상수    10
송은범    10
오승환     9
양현종     9
차우찬     9
김광현     9
이용찬     9
윤성환     9
노경은     9
Name: count, dtype: int64

In [43]:
df_all[df_all['선수명'] == '이용찬'][['구단명', '플레이년도', 'FA년도', '구분']]

    구단명  플레이년도  FA년도      구분
252  두산   2017  2018      신규
253  두산   2018  2019      신규
254  두산   2019  2020      신규
255  두산   2020  2021      신규
256  NC   2021  2022  FA 1년차
402  NC   2022  2023     재자격
403  NC   2023  2024     재자격
404  NC   2024  2025     재자격

In [12]:
# 김상수 2020, 2021 / 우규민 2021 / 이용찬 2021 중복

In [29]:
# 삭제 조건 정의
drop_idx = df_all[
    ((df_all['선수명'] == '김상수') & (df_all['플레이년도'] == 2020) & (df_all['구분'] == '다년계약')) |
    ((df_all['선수명'] == '김상수') & (df_all['플레이년도'] == 2021) & (df_all['구분'] == '다년계약'))
].index

# 삭제
df_all.drop(index=drop_idx, inplace=True)

In [37]:
# 삭제 조건 정의
drop_idx = df_all[
    ((df_all['선수명'] == '우규민') & (df_all['플레이년도'] == 2021) & (df_all['구분'] == '재자격'))
   
].index

# 삭제
df_all.drop(index=drop_idx, inplace=True)

In [41]:
# 삭제 조건 정의
drop_idx = df_all[
    ((df_all['선수명'] == '이용찬') & (df_all['플레이년도'] == 2021) & (df_all['구분'] == '재자격'))
   
].index

# 삭제
df_all.drop(index=drop_idx, inplace=True)

- 해외계약, FA 1년차 row 제거

In [66]:
# 1. FA 1년차 제거
mask_fa1 = df_all['구분'] == 'FA 1년차'

# 2. '해외'가 들어간 구분 제거
mask_oversea = df_all['구분'].astype(str).str.contains('해외', na=False)

# 3. 둘 다 제외한 데이터 만들기
df_cleaned = df_all[~(mask_fa1 | mask_oversea)].copy()

In [68]:
print(f"원본 행 수: {len(df_all)}")
print(f"제거 후 행 수: {len(df_cleaned)}")
print(f"제거된 행 수: {len(df_all) - len(df_cleaned)}")

원본 행 수: 405
제거 후 행 수: 328
제거된 행 수: 77

In [70]:
# 저장
df_cleaned.to_csv("../../data/FA_투수_기존+2025.csv", index=False, encoding='utf-8-sig')